/* Flexbox */
.flexrow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.flexrow > * {
  flex: 1;
}
.flexcol {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.flexcol > * {
  flex: 1;
}
/* ----------------------------------------- */
/*  Actor Sheet
/* ----------------------------------------- */
.dnd5e.actor-sheet {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  font-size: 14px;
  /* Primary Attributes Section */
}
.dnd5e.actor-sheet > * {
  flex: 1;
}
.dnd5e.actor-sheet input[type="text"] {
  background: none;
  border: none;
  padding: 0;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  border: 1px solid transparent;
}
.dnd5e.actor-sheet input[type="text"]:hover,
.dnd5e.actor-sheet input[type="text"]:focus {
  border: 1px solid #111;
  box-shadow: 0 0 8px red;
}
.dnd5e.actor-sheet input:disabled,
.dnd5e.actor-sheet select:disabled,
.dnd5e.actor-sheet textarea:disabled {
  color: #111;
}
.dnd5e.actor-sheet input:disabled:hover,
.dnd5e.actor-sheet select:disabled:hover,
.dnd5e.actor-sheet textarea:disabled:hover,
.dnd5e.actor-sheet input:disabled:focus,
.dnd5e.actor-sheet select:disabled:focus,
.dnd5e.actor-sheet textarea:disabled:focus {
  border: 1px solid transparent;
  box-shadow: none;
}
.dnd5e.actor-sheet span,
.dnd5e.actor-sheet label {
  display: block;
}
.dnd5e.actor-sheet .mce-panel span {
  display: inherit;
}
.dnd5e.actor-sheet.editable .rollable:hover {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}
.dnd5e.actor-sheet .sheet-sidebar {
  flex: 0 0 250px;
  order: 1;
}
.dnd5e.actor-sheet .sheet-sidebar img.sheet-profile {
  width: 250px;
  height: 250px;
  border: 1px solid #666;
}
.dnd5e.actor-sheet .sheet-body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-left: 10px;
  flex: 1;
  order: 2;
  overflow: hidden;
}
.dnd5e.actor-sheet .sheet-body > * {
  flex: 1;
}
.dnd5e.actor-sheet .sheet-body .sheet-tabs {
  flex: 0 0 32px;
  margin-top: 5px;
}
.dnd5e.actor-sheet .sheet-body .tab {
  flex: 1;
  margin: 5px 0;
}
.dnd5e.actor-sheet .sheet-header {
  flex: 0 0 90px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.dnd5e.actor-sheet .sheet-header > * {
  flex: 1;
}
.dnd5e.actor-sheet .sheet-header .charname {
  margin: 0 10px 0 0;
  height: 50px;
  border: none;
}
.dnd5e.actor-sheet .sheet-header .charname > input {
  float: left;
  height: 40px;
  width: 100%;
  margin: 5px 0;
  font-size: 36px;
}
.dnd5e.actor-sheet .sheet-header .charlevel {
  flex: 0 0 150px;
  height: 50px;
  text-align: right;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.dnd5e.actor-sheet .sheet-header .charlevel > * {
  flex: 1;
}
.dnd5e.actor-sheet .sheet-header .charlevel .level {
  flex: 0 0 22px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  font-size: 22px;
  line-height: 22px;
}
.dnd5e.actor-sheet .sheet-header .charlevel .level > * {
  flex: 1;
}
.dnd5e.actor-sheet .sheet-header .charlevel .level > input[type="text"] {
  flex: 0 0 30px;
  height: 22px;
  text-align: center;
}
.dnd5e.actor-sheet .sheet-header .charlevel .xpbar {
  width: 100%;
  flex: 0 0 8px;
  background: #666;
  border: 1px solid #000;
  border-radius: 3px;
}
.dnd5e.actor-sheet .sheet-header .charlevel .xpbar .bar {
  height: 4px;
  margin: 1px;
  display: block;
  background: #afebff;
  border: 1px solid #000;
  border-radius: 2px;
}
.dnd5e.actor-sheet .sheet-header .charlevel .experience {
  flex: 0 0 20px;
  line-height: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  justify-content: flex-end;
}
.dnd5e.actor-sheet .sheet-header .charlevel .experience > * {
  flex: 1;
}
.dnd5e.actor-sheet .sheet-header .charlevel .experience > input[type="text"] {
  flex: 1;
  text-align: right;
  height: 20px;
}
.dnd5e.actor-sheet .sheet-header .details {
  flex: 0 0 100%;
  height: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
}
.dnd5e.actor-sheet .sheet-header .details .character-detail {
  width: 33.33%;
  height: 30px;
  line-height: 30px;
  margin: 4px -1px 4px 0;
  padding: 0 2px 0 4px;
  float: left;
  border-right: 1px solid #CCC;
}
.dnd5e.actor-sheet .sheet-header .details .character-detail:last-child {
  border-right: none;
}
.dnd5e.actor-sheet .sheet-header .details .character-detail > input {
  margin: 0 2px;
}
.dnd5e.actor-sheet .primary-attributes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex: 0 0 80px;
  padding: 5px 0;
}
.dnd5e.actor-sheet .primary-attributes > * {
  flex: 1;
}
.dnd5e.actor-sheet .primary-attributes .attribute {
  flex: 0 0 calc(33.33% - 4px);
  height: 75px;
  margin-right: 6px;
  border: 1px solid #CCC;
  border-radius: 3px;
}
.dnd5e.actor-sheet .primary-attributes .attribute:last-child {
  margin-right: 0;
}
.dnd5e.actor-sheet .primary-attributes .attribute .attribute-name {
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  text-align: center;
  margin: 0 5px;
  border-bottom: 1px solid #CCC;
}
.dnd5e.actor-sheet .primary-attributes .attribute .attribute-value {
  height: 36px;
  line-height: 36px;
  font-size: 24px;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.dnd5e.actor-sheet .primary-attributes .attribute .attribute-value > * {
  flex: 1;
}
.dnd5e.actor-sheet .primary-attributes .attribute .attribute-footer {
  height: 16px;
  text-align: center;
}
.dnd5e.actor-sheet .primary-attributes .attribute .attribute-footer .footer-label {
  width: 60%;
  height: 16px;
  line-height: 16px;
  float: left;
  margin: 0;
  padding-right: 5px;
  text-align: right;
}
.dnd5e.actor-sheet .primary-attributes .attribute .attribute-footer .footer-value {
  width: 40%;
  float: right;
}
.dnd5e.actor-sheet .primary-attributes .attribute .attribute-footer .footer-value > * {
  float: left;
  line-height: 16px;
  height: 16px;
}
.dnd5e.actor-sheet .primary-attributes .attribute .attribute-footer .footer-value > input {
  max-width: 24px;
}
.dnd5e.actor-sheet .primary-attributes .attribute .attribute-footer .footer-value input[name="data.attributes.speed.value"] {
  max-width: none;
  text-align: left;
}
/* ----------------------------------------- */
/* Biography Tab
/* ----------------------------------------- */
.dnd5e.actor-sheet .biography .editor-content {
  padding-right: 8px;
  overflow-y: scroll;
}
.dnd5e.actor-sheet .biography body#tinymce {
  font-size: 14px;
}
/* ----------------------------------------- */
/* Abilities Sidebar Tab
/* ----------------------------------------- */
.dnd5e .sheet-tabs {
  height: 32px;
  border-bottom: 1px solid #666;
}
.dnd5e .sheet-tabs > .item {
  line-height: 32px;
  padding: 0 10px;
  border-radius: 5px 5px 0 0;
}
.dnd5e .sheet-tabs > .item.active {
  color: #000;
  font-weight: 700;
  border: 1px solid #666;
  border-bottom: none;
  box-shadow: 0 0 10px inset #ff6400;
  text-shadow: none;
}
.dnd5e .abilities .ability {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #CCC;
}
.dnd5e .abilities .ability > * {
  flex: 1;
}
.dnd5e .abilities .ability .ability-proficiency {
  flex: 0 0 24px;
}
.dnd5e .abilities .ability .ability-name {
  margin: 0;
  font-size: 16px;
}
.dnd5e .abilities .ability .ability-score {
  flex: 0 0 36px;
}
.dnd5e .abilities .ability .ability-score > input {
  font-size: 20px;
  text-align: center;
}
.dnd5e .abilities .ability .ability-mod,
.dnd5e .abilities .ability .ability-save {
  flex: 0 0 24px;
  margin: 8px 0;
  line-height: 24px;
  color: #666;
  text-align: center;
}
.dnd5e .abilities .ability .ability-mod {
  border-right: 1px solid #CCC;
}
.dnd5e .abilities .ability .ability-save {
  border-left: 1px solid #CCC;
}
.dnd5e .abilities .ability:last-child {
  border-bottom: 1px solid #666;
}
/* ----------------------------------------- */
/* Skills Tab
/* ----------------------------------------- */
.dnd5e .skills li.skill {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 24px;
  line-height: 24px;
  border-bottom: 1px solid #CCC;
}
.dnd5e .skills li.skill > * {
  flex: 1;
}
.dnd5e .skills li.skill .skill-name {
  margin: 0;
}
.dnd5e .skills li.skill .skill-proficiency {
  flex: 0 0 24px;
}
.dnd5e .skills li.skill .skill-ability {
  flex: 0 0 36px;
  color: #666;
  text-align: right;
  margin-right: 4px;
}
.dnd5e .skills li.skill .skill-mod {
  flex: 0 0 28px;
  text-align: center;
}
.dnd5e.locked .ability-proficiency,
.dnd5e.locked .skill-proficiency {
  text-shadow: none;
  cursor: default;
}
/* ----------------------------------------- */
/* Traits Tab
/* ----------------------------------------- */
.traits .form-group label {
  flex: 0 0 50%;
}
.traits label {
  font-weight: bold;
}
/* ----------------------------------------- */
/* Inventory Tab
/* ----------------------------------------- */
.currency {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 3px 0;
  border-bottom: 1px solid #CCC;
}
.currency > * {
  flex: 1;
}
.currency h4.currency-name {
  flex: 0;
  margin: 0;
  font-weight: 700;
  padding: 0 5px 0 32px;
}
.currency ol.currency-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.currency ol.currency-list > * {
  flex: 1;
}
.currency ol.currency-list li.denomination {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  justify-content: flex-end;
}
.currency ol.currency-list li.denomination > * {
  flex: 1;
}
.currency ol.currency-list li.denomination label {
  text-transform: uppercase;
  flex: 0 0 30px;
  font-weight: 700;
}
.currency ol.currency-list li.denomination input {
  text-align: left;
  max-width: 48px;
}
/* Inventory List */
.inventory-list {
  list-style: none;
  margin: 0;
  padding: 0;
  height: calc(100% - 40px);
  overflow-y: scroll;
}
.inventory-list .item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  line-height: 24px;
  padding: 2px 0;
  border-bottom: 1px solid #CCC;
}
.inventory-list .item > * {
  flex: 1;
}
.inventory-list .item .item-name img {
  float: left;
}
.inventory-list .item .item-name h4 {
  margin-left: 32px;
}
.inventory-list .item h4 {
  margin: 0;
}
.inventory-list .item .item-quantity,
.inventory-list .item .item-weight {
  flex: 0 0 32px;
}
.inventory-list .item .item-controls {
  flex: 0 0 40px;
}
.inventory-list .item .item-controls a {
  display: block;
  float: left;
  width: 20px;
  font-size: 10px;
  text-align: center;
  color: #666;
}
.inventory-header {
  font-weight: 700;
  border-bottom: 2px groove #FFF;
}
.inventory-header .item-name {
  font-weight: 700;
  padding-left: 32px;
}
.inventory-header .item-controls a.item-create {
  width: 100%;
}
/* Encumbrance Bar */
.encumbrance {
  background: rgba(0, 0, 0, 0.1);
  height: 12px;
  margin-top: 5px;
  border: 1px solid #111;
  border-radius: 3px;
}
.encumbrance .encumbrance-bar {
  background: #782e22;
  height: 8px;
  margin: 1px;
  border: 1px solid #ff6400;
  border-radius: 3px;
}
.encumbrance .encumbrance-label {
  float: right;
  text-align: right;
  padding-right: 5px;
  font-size: 12px;
  line-height: 12px;
}
/* ----------------------------------------- */
/* Class List
/* ----------------------------------------- */
.class-header {
  position: relative;
  border-bottom: 1px solid #CCC;
  margin: 0 0 3px;
  padding-bottom: 5px;
}
.class-header h3 {
  text-align: center;
  font-weight: 700;
  margin: 0;
}
.class-header a.item-create {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 14px;
  color: #666;
}
.class-list {
  overflow: hidden;
}
.class-list .item {
  background: rgba(0, 0, 0, 0.03);
  padding: 3px 6px;
  border: 1px solid #CCC;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 5px;
}
.class-list .item > * {
  line-height: 20px;
}
.class-list .class-name,
.class-list .class-subclass {
  margin: 0;
  flex: 1 0 75%;
}
.class-list .class-name {
  font-size: 18px;
  font-weight: bold;
}
.class-list .class-subclass {
  font-size: 14px;
  color: #999;
}
.class-list .class-levels,
.class-list .item-controls {
  flex: 0 0 40px;
  text-align: right;
}
.class-list .item-controls {
  font-size: 12px;
}
.class-list .class-levels {
  padding-right: 5px;
  font-size: 20px;
  font-weight: bold;
}
/* ----------------------------------------- */
/*  Item Sheet
/* ----------------------------------------- */
.dnd5e.item-sheet header .itemname {
  height: 64px;
  margin: 0 10px;
  border: none;
}
.dnd5e.item-sheet header .itemname input {
  height: 40px;
  margin: 12px 0;
  background: transparent;
  border: 1px solid transparent;
}
.dnd5e.item-sheet header .itemname input:hover,
.dnd5e.item-sheet header .itemname input:focus {
  border: 1px solid #111;
  box-shadow: 0 0 8px red;
}
.dnd5e.item-sheet .item-details {
  list-style: none;
  margin: 0;
  padding: 3px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  justify-content: space-between;
  border-bottom: 2px groove #FFF;
}
.dnd5e.item-sheet .item-details > * {
  flex: 1;
}
.dnd5e.item-sheet .item-details > li {
  flex: 0 0 30%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  font-size: 14px;
  text-align: center;
}
.dnd5e.item-sheet .item-details > li > * {
  flex: 1;
}
.dnd5e.item-sheet .item-details label {
  line-height: 20px;
}
.dnd5e.item-sheet .consumable-charges input {
  flex: 0 0 64px;
  margin-left: 5px;
  text-align: center;
}
.dnd5e.item-sheet .sheet-tabs {
  margin-top: 5px;
  border-bottom: 2px groove #FFF;
  font-size: 14px;
}
.dnd5e.item-sheet .editor.active {
  display: block;
  min-height: 300px;
}
/* ----------------------------------------- */
/*  NPC Sheet
/* ----------------------------------------- */
.dnd5e.npc-sheet .sheet-header .charlevel {
  flex: 0 0 80px;
}
.dnd5e.npc-sheet .sheet-header .charlevel .level {
  font-size: 28px;
  flex: 0 0 25px;
}
.dnd5e.npc-sheet .sheet-header .charlevel .level > label {
  margin-right: 5px;
}
.dnd5e.npc-sheet .sheet-header .charlevel .level > input[type="text"] {
  flex: 1;
}
