<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- NPC Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{actor.img}}" title="{{actor.name}}" data-edit="img"/>

        <div class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{actor.name}}" placeholder="Character Name"/>
            </h1>

            <div class="charlevel">
                <div class="level">
                    <label>CR</label>
                    <input name="data.details.cr.value" type="text" value="{{data.details.cr.label}}" placeholder="1"/>
                </div>
                <div class="experience">
                    <span>{{data.details.xp.value}} XP</span>
                </div>
            </div>

            <ul class="summary">
                <li>
                    <input type="text" name="data.details.type.value" value="{{data.details.type.value}}" placeholder="Type"/>
                </li>
                <li>
                    <input type="text" name="data.details.alignment.value" value="{{data.details.alignment.value}}" placeholder="Alignment"/>
                </li>
                <li>
                    <input type="text" name="data.details.source.value" value="{{data.details.source.value}}" placeholder="Source"/>
                </li>
            </ul>
        </div>
    </header>

    {{!-- NPC Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="attributes">{{ localize "DND5E.Attributes" }}</a>
        <a class="item" data-tab="features">{{ localize "DND5E.Features" }}</a>
        <a class="item" data-tab="spellbook">{{ localize "DND5E.Spellbook" }}</a>
        <a class="item" data-tab="biography">{{ localize "DND5E.Biography" }}</a>
    </nav>

    {{!-- NPC Sheet Body --}}
    <section class="sheet-body">

        <div class="tab attributes flexrow" data-group="primary" data-tab="attributes">

            {{!-- Ability Scores --}}
            <ul class="ability-scores flexrow">
            {{#each data.abilities as |ability id|}}
                <li class="ability {{#if ability.proficient}}proficient{{/if}}">
                    <h4 class="ability-name box-title rollable">{{ability.label}}</h4>
                    <input class="ability-score" name="data.abilities.{{id}}.value" type="text" value="{{ability.value}}" data-dtype="Number" placeholder="10"/>
                    <div class="ability-modifiers flexrow">
                        <span class="ability-mod" title="Modifier">{{numberFormat ability.mod decimals=0 sign=true}}</span>
                        <input type="hidden" name="data.abilities.{{id}}.proficient" value="{{ability.proficient}}" data-dtype="Number"/>
                        <a class="proficiency-toggle ability-proficiency" title="Proficiency">{{{ability.icon}}}</a>
                        <span class="ability-save" title="Saving Throw">{{numberFormat ability.save decimals=0 sign=true}}</span>
                    </div>
                </li>
            {{/each}}
            </ul>

            {{!-- Skills --}}
            <ul class="skills-list">
            {{#each data.skills as |skill s|}}
                <li class="skill flexrow {{#if skill.value}}proficient{{/if}}" data-skill="{{s}}">
                    <input type="hidden" name="data.skills.{{s}}.value" value="{{skill.value}}" data-dtype="Number"/>
                    <a class="proficiency-toggle skill-proficiency" title="{{skill.hover}}">{{{skill.icon}}}</a>
                    <h4 class="skill-name rollable">{{skill.label}}</h4>
                    <span class="skill-ability">{{skill.ability}}</span>
                    <span class="skill-mod">{{numberFormat skill.mod decimals=0 sign=true}}</span>
                    <span class="skill-passive">({{skill.passive}})</span>
                </li>
            {{/each}}
            </ul>

            <section class="center-pane">

                {{!-- Attributes --}}
                <ul class="attributes flexrow">
                    <li class="attribute health flexcol">
                        <h4 class="attribute-name box-title rollable">{{ localize "DND5E.Health" }}</h4>
                        <div class="attribute-value multiple">
                            <input name="data.attributes.hp.value" type="text" value="{{data.attributes.hp.value}}"
                                   data-dtype="Number" placeholder="10"/>
                            <span class="sep"> / </span>
                            <input name="data.attributes.hp.max" type="text" value="{{data.attributes.hp.max}}"
                                   data-dtype="Number" placeholder="10"/>
                        </div>
                        <footer class="attribute-footer">
                            <input name="data.attributes.hp.formula" class="hpformula" type="text" placeholder="{{ localize 'DND5E.HealthFormula' }}"
                                   value="{{data.attributes.hp.formula}}"/>
                        </footer>
                    </li>

                    <li class="attribute">
                        <h4 class="attribute-name box-title">{{ localize "DND5E.ArmorClass" }}</h4>
                        <div class="attribute-value">
                            <input name="data.attributes.ac.value" type="text" value="{{data.attributes.ac.value}}"
                                   data-dtype="Number" placeholder="10"/>
                        </div>
                        <footer class="attribute-footer">
                            <span>{{ localize "DND5E.Proficiency" }}</span>
                            <span>{{numberFormat data.attributes.prof.value decimals=0 sign=true}}</span>
                        </footer>
                    </li>

                    <li class="attribute">
                        <h4 class="attribute-name box-title">{{ localize "DND5E.Speed" }}</h4>
                        <div class="attribute-value">
                            <input name="data.attributes.speed.value" type="text"
                                   value="{{data.attributes.speed.value}}" placeholder="0"/>
                        </div>
                        <footer class="attribute-footer">
                            <input type="text" class="speed" name="data.attributes.speed.special"
                                   value="{{data.attributes.speed.special}}" placeholder="{{ localize 'DND5E.SpeedSpecial' }}"/>
                        </footer>
                    </li>
                </ul>

                {{!-- Legendary Actions --}}
                <div class="resources flexrow">
                    <div class="resource flexrow legendary">
                        <h4>{{ localize "DND5E.LegAct" }}</h4>
                        <div class="status-value">
                            <input type="text" name="data.resources.legact.value" data-dtype="Number" placeholder="0"
                                   value="{{data.resources.legact.value}}"/>
                            <span class="sep">/</span>
                            <input type="text" name="data.resources.legact.max" data-dtype="Number" placeholder="0"
                                   value="{{data.resources.legact.max}}"/>
                        </div>
                    </div>
                    <div class="resource flexrow legendary">
                        <h4>{{ localize "DND5E.LegRes" }}</h4>
                        <div class="status-value">
                            <input type="text" name="data.resources.legres.value" data-dtype="Number" placeholder="0"
                                   value="{{data.resources.legres.value}}"/>
                            <span class="sep">/</span>
                            <input type="text" name="data.resources.legres.max" data-dtype="Number" placeholder="0"
                                   value="{{data.resources.legres.max}}"/>
                        </div>
                    </div>
                    <div class="resource flexrow lair">
                        <h4>{{ localize "DND5E.LairAct" }}</h4>
                        <div class="status-value">
                            <input name="data.resources.lair.value" type="checkbox" value="{{data.resources.lair.value}}"
                                   data-dtype="Boolean" {{checked data.resources.lair.value}}/>
                            <input name="data.resources.lair.initiative" type="text" value="{{data.resources.lair.initiative}}"
                                   data-dtype="Number" placeholder="Init."/>
                        </div>
                    </div>
                </div>

                {{!-- Traits --}}
                <div class="traits">
                    <div class="form-group">
                        <label>{{localize "DND5E.Size"}}</label>
                        <select class="actor-size" name="data.traits.size.value">
                            {{#select data.traits.size.value}}
                            {{#each actorSizes as |label size|}}
                                <option value="{{size}}">{{label}}</option>
                            {{/each}}
                            {{/select}}
                        </select>
                    </div>

                    <div class="form-group {{#unless data.traits.senses.value}}inactive{{/unless}}">
                        <label>{{localize "DND5E.Senses"}}</label>
                        <input type="text" name="data.traits.senses.value" value="{{data.traits.senses.value}}" placeholder="None"/>
                    </div>

                    <div class="form-group-stacked {{data.traits.languages.cssClass}}">
                        <label for="data.traits.languages">{{localize "DND5E.Languages"}}
                            <a class="trait-selector" data-options="languages"><i class="fas fa-edit"></i></a>
                        </label>
                        <ul class="traits-list">
                        {{#each data.traits.languages.selected as |v k|}}
                            <li class="tag {{k}}">{{v}}</li>
                        {{/each}}
                        </ul>
                    </div>

                    <div class="form-group-stacked {{data.traits.di.cssClass}}">
                        <label for="data.traits.di">{{localize "DND5E.DamImm"}}
                            <a class="trait-selector" data-options="damageTypes"><i class="fas fa-edit"></i></a>
                        </label>
                        <ul class="traits-list">
                        {{#each data.traits.di.selected as |v k|}}
                            <li class="tag {{k}}">{{v}}</li>
                        {{/each}}
                        </ul>
                    </div>

                    <div class="form-group-stacked {{data.traits.dr.cssClass}}">
                        <label for="data.traits.dr">{{localize "DND5E.DamRes"}}
                            <a class="trait-selector" data-options="damageTypes"><i class="fas fa-edit"></i></a>
                        </label>
                        <ul class="traits-list">
                        {{#each data.traits.dr.selected as |v k|}}
                            <li class="tag {{k}}">{{v}}</li>
                        {{/each}}
                        </ul>
                    </div>

                    <div class="form-group-stacked {{data.traits.dv.cssClass}}">
                        <label for="data.traits.dv">{{localize "DND5E.DamVuln"}}
                            <a class="trait-selector" data-options="damageTypes"><i class="fas fa-edit"></i></a>
                        </label>
                        <ul class="traits-list">
                        {{#each data.traits.dv.selected as |v k|}}
                            <li class="tag {{k}}">{{v}}</li>
                        {{/each}}
                        </ul>
                    </div>

                    <div class="form-group-stacked {{data.traits.ci.cssClass}}">
                        <label for="data.traits.ci">{{localize "DND5E.ConImm"}}
                            <a class="trait-selector" data-options="conditionTypes"><i class="fas fa-edit"></i></a>
                        </label>
                        <ul class="traits-list">
                        {{#each data.traits.ci.selected as |v k|}}
                            <li class="tag {{k}}">{{v}}</li>
                        {{/each}}
                        </ul>
                    </div>

                    <div class="form-group configure-flags">
                        <label>{{localize "DND5E.SpecialTraits"}}<i class="fas fa-cog"></i></label>
                    </div>
                </div>
            </section>
        </div>

        {{!-- Features Tab --}}
        <div class="tab features flexcol" data-group="primary" data-tab="features">
            <div class="inventory-filters">
                <ul class="filter-list flexrow" data-filter="features">
                    <li class="filter-title">Filter</li>
                    <li class="filter-item" data-filter="action">Action</li>
                    <li class="filter-item" data-filter="bonus">Bonus</li>
                    <li class="filter-item" data-filter="reaction">Reaction</li>
                    <li class="filter-item" data-filter="equipped">Equipped</li>
                </ul>
            </div>

            <ol class="inventory-list">
            {{#each features as |section sid|}}
                <li class="inventory-header flexrow">
                    <h3 class="item-name flexrow">{{section.label}}</h3>
                    {{#if ../owner}}
                    <div class="item-controls">
                        <a class="item-control item-create" title="Create Item" data-type="{{section.type}}" data-subtype="{{section.subtype}}">
                            <i class="fas fa-plus"></i> Add
                        </a>
                    </div>
                    {{/if}}
                </li>

                <ol class="item-list">
                {{#each section.items as |item iid|}}
                    <li class="item flexrow" data-item-id="{{item.id}}">
                        <div class="item-name flexrow rollable">
                            <div class="item-image" style="background-image: url({{item.img}})"></div>
                            <h4>
                                {{~#if item.isStack}}({{item.data.quantity}}) {{/if}}
                                {{item.name~}}
                            </h4>
                        </div>

                        {{#if item.data.activation.type }}
                        <div class="item-detail">{{item.data.activation.label}}</div>
                        {{/if}}

                        {{#if item.data.uses.value }}
                        <div class="item-detail">Uses {{item.data.uses.value}} / {{item.data.uses.max}}</div>
                        {{/if}}

                        {{#if ../../owner}}
                        <div class="item-controls">
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                        {{/if}}
                    </li>
                {{/each}}
                </ol>
            {{/each}}
            </ol>
        </div>

        {{!-- Spellbook Tab --}}
        <div class="tab spellbook flexcol" data-group="primary" data-tab="spellbook">
            <div class="inventory-filters spellbook-filters">
                <div class="form-group spellcasting-ability">
                    <label><h3>Spellcasting Ability</h3></label>
                    <select name="data.attributes.spellcasting.value" data-type="String">
                        {{#select data.attributes.spellcasting.value}}
                        <option value="">None</option>
                        {{#each data.abilities as |abl a|}}
                        <option value="{{a}}">{{abl.label}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>

                <ul class="filter-list flexrow" data-filter="spellbook">
                    <li class="filter-title">Filter</li>
                    <li class="filter-item" data-filter="action">Action</li>
                    <li class="filter-item" data-filter="bonus">Bonus</li>
                    <li class="filter-item" data-filter="reaction">Reaction</li>
                    <li class="filter-item" data-filter="concentration">Conc.</li>
                    <li class="filter-item" data-filter="ritual">Ritual</li>
                    <li class="filter-item" data-filter="prepared">Prepared</li>
                </ul>
            </div>

            <ol class="inventory-list">
            {{#each spellbook as |section lvl|}}
                <li class="item flexrow inventory-header spellbook-header">
                    <div class="item-name flexrow">
                        <h3>{{section.label}}</h3>
                    </div>

                    <div class="spell-slots">
                        {{#unless section.isCantrip}}
                        <input type="text" name="data.spells.spell{{lvl}}.value" value="{{section.uses}}" placeholder="0"/>
                        {{else}}<span class="spell-slots">&infin;</span>{{/unless}}
                        <span class="sep"> / </span>
                        {{#unless section.isCantrip}}
                        <input type="text" name="data.spells.spell{{lvl}}.max" value="{{section.slots}}" placeholder="0"/>
                        {{else}}<span class="spell-max">&infin;</span>{{/unless}}
                    </div>

                    <div class="spell-school">Spell School</div>
                    <div class="spell-action">Spell Usage</div>

                    {{#if ../owner}}
                    <div class="item-controls">
                        <a class="item-control item-create" title="Create Spell" data-type="spell"
                           data-level="{{lvl}}"><i class="fas fa-plus"></i> Add</a>
                    </div>
                    {{/if}}
                </li>

                <ol class="item-list">
                {{#each section.spells as |item i|}}
                    <li class="item flexrow" data-item-id="{{item.id}}">
                        <div class="item-name flexrow rollable">
                            <div class="item-image" style="background-image: url({{item.img}})"></div>
                            <h4>{{item.name}}</h4>
                        </div>

                        <div class="spell-comps">{{item.data.components.label}}</div>
                        <div class="spell-school">{{item.data.school.label}}</div>
                        <div class="spell-action">{{item.data.activation.label}}</div>

                        {{#if ../../owner}}
                        <div class="item-controls">
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                        {{/if}}
                    </li>
                {{/each}}
                </ol>
            {{else}}
                <li class="item flexrow inventory-header spellbook-header spellbook-empty">
                    {{#if owner}}
                    <div class="item-controls">
                        <a class="item-control item-create" title="Create Spell" data-type="spell"
                           data-level="{{lvl}}"><i class="fas fa-plus"></i> Add Spell</a>
                    </div>
                    {{/if}}
                </li>
            {{/each}}
            </ol>
        </div>

        {{!-- Biography Tab --}}
        <div class="tab biography flexcol" data-group="primary" data-tab="biography">
            {{editor content=data.details.biography.value target="data.details.biography.value" button=true owner=owner editable=editable}}
        </div>
    </section>
</form>
