/* ----------------------------------------- */
/*  Advancement Config Sheet                 */
/* ----------------------------------------- */

.dnd5e2.advancement.sheet {
  &.grid-columns {
    --grid-column-left-size: 1fr;
    --grid-column-center-size: 1fr;
    --grid-column-right-size: 1fr;

    .window-content {
      display: grid;
      gap: 8px;

      &:has(> .column-container:nth-of-type(2)) {
        grid-template-columns: [left] var(--grid-column-left-size) [right] var(--grid-column-right-size);
      }
      &:has(> .column-container:nth-of-type(3)) {
        grid-template-columns: [left] var(--grid-column-left-size) [center] var(--grid-column-center-size) [right] var(--grid-column-right-size);
      }

      > .column-container.column-left { grid-area: left; }
      > .column-container.column-center { grid-area: center; }
      > .column-container.column-right { grid-area: right; }
    }
  }

  .card:is(.items, .levels) {
    display: grid;
    gap: 0;

    > * { grid-column: 1 / -1; }
    .header, .items-list, .items-list > li, .levels-list, .levels-list > li {
      display: grid;
      grid-column: 1 / -1;
      grid-template-columns: subgrid;
    }
    .header {
      margin-inline: -10px;
      padding-block: 3px 2px;
      padding-inline: 10px;
      border-radius: 0;
    }

    .items-list, .levels-list > li {
      margin: 0 -.75em;
      padding: 6px .75em;

      &:nth-child(odd) { background: var(--dnd5e-color-table-row-odd); }
      &:nth-child(even) { background: var(--dnd5e-color-table-row-even); }
    }
  }
  .card.items {
    grid-template-columns: [name] 1fr [controls] 20px;
    .items-list {
      container-type: normal;
      gap: 0;

      > li {
        margin: 0 -.75em;
        padding: 6px .75em;

        &:nth-child(odd) { background: var(--dnd5e-color-table-row-odd); }
        &:nth-child(even) { background: var(--dnd5e-color-table-row-even); }
      }
    }
    .item-optional { display: inline-flex; }
    .item-name { grid-column: name; }
    .item-controls { grid-column: controls; }
    .name-header { padding-inline-start: 16px; }
  }
  .card.levels {
    grid-template-columns: [level] max-content [count] 1fr;
    gap: 4px 6px;
    .level-number {
      grid-column: level;
      text-align: center;
    }
    .level-count { grid-column: count; }
    .choices-header { text-align: center; }
  }

  .centered { text-align: center; }
  .drop-area {
    border: 1px dashed var(--color-border-light-2);
    border-radius: 4px;
    padding: 4px;
  }
  .hint.warning {
    color: var(--dnd5e-color-maroon);
    font-weight: bold;
  }
}

/* ----------------------------------------- */
/*  Choose Items Advancement                 */
/* ----------------------------------------- */

.dnd5e2.advancement.item-choice.sheet {
  --grid-column-left-size: 1fr;
  --grid-column-center-size: .8fr;
  --grid-column-right-size: .5fr;

  .card.levels {
    grid-template-columns: [level] max-content [count] 1fr [replacement] max-content;
    .level-replacement {
      grid-column: replacement;
      display: inline-flex;
    }
  }
}

/* ----------------------------------------- */
/*  Grant Items Advancement                  */
/* ----------------------------------------- */

.dnd5e2.advancement.item-grant.sheet {
  .card.items {
    grid-template-columns: [optional] 1fr [name] 3fr [controls] 20px;
    .item-optional { grid-column: optional; }
  }
}

/* ----------------------------------------- */
/*  Advancement Manager                      */
/* ----------------------------------------- */

.dnd5e2.advancement.manager.application {
  [data-application-part="manager"] {
    gap: 12px;

    > .step {
      h3 {
        padding-block-end: 0;
        color: var(--color-text-dark-primary);
        font-family: var(--dnd5e-font-roboto-condensed);
        font-size: var(--font-size-20);
        text-shadow: none;
      }
      &.dnd5e {
        h4 {
          color: var(--color-text-dark-primary);
          font-family: var(--dnd5e-font-roboto);
          text-shadow: none;
        }
      }
    }

    nav { gap: 6px; }

    /* V1 Compatibility */
    button { height: var(--input-height); }

    label > span {
      font-family: var(--dnd5e-font-roboto-slab);
      font-weight: bold;
      font-size: var(--font-size-12);
    }

    input[type=checkbox] {
      &:hover, &:focus {
        box-shadow: none;
        border: none;
      }
    }
  }
}

/* ----------------------------------------- */
/*  Visualizer                               */
/* ----------------------------------------- */

.advancement-visualizer {
  .step {
    position: relative;
    padding: 4px;

    &.current {
      border-color: rebeccapurple;
      &::before {
        content: "➧";
        position: absolute;
        inset-inline-start: -12px;
        inset-block: 0;
        align-content: center;
        color: rebeccapurple;
        font-size: 18px;
      }
    }
    .icons {
      i:not(.enabled) { opacity: 15%; }
    }
  }
}
