/* ---------------------------------- */
/*  Basic Structure                   */
/* ---------------------------------- */

.dnd5e2.sheet.actor.character {
  --dnd5e-sheet-header-right-width: 280px;
  background: transparent;
  border: 1px solid var(--dnd5e-color-gold);

  /* ---------------------------------- */
  /*  Outer Window                      */
  /* ---------------------------------- */

  > header {
    background: transparent;
    border: none;
    align-items: center;
    position: relative;
    z-index: 1;

    .header-button {
      border-radius: 100%;
      background: rgb(0 0 0 / 25%);
      width: 20px;
      height: 20px;
      line-height: unset;
      display: grid;
      place-content: center;
      font-size: var(--font-size-12);
      margin-top: .25rem;

      > i { margin: 0; }
    }

    .window-title { visibility: hidden; }

    /* Edit Mode Toggle */
    > slide-toggle {
      --slide-toggle-track-color-checked: var(--dnd5e-color-gold);
      --slide-toggle-track-color-unchecked: var(--dnd5e-color-light-gray);
      flex: none;

      .slide-toggle-thumb {
        line-height: 12px;

        &::before {
          content: "\f0ad";
          font-family: var(--font-awesome);
          color: var(--dnd5e-color-light-gray);
          font-weight: bold;
          font-size: var(--font-size-9);
        }
      }

      &[checked] .slide-toggle-thumb::before {
        color: var(--dnd5e-color-gold);
      }
    }
  }

  .window-content > form { margin-top: -30px; }

  .sheet-header, .sheet-body, .main-content {
    position: relative;
  }

  /* ---------------------------------- */
  /*  Sheet Header                      */
  /* ---------------------------------- */

  .sheet-header {
    --dnd5e-sheet-header-height: 170px;
    flex: 0 0 var(--dnd5e-sheet-header-height);
    background: transparent url("ui/banner-character.jpg") no-repeat center / cover;
    border: none;
    border-radius: 5px 5px 0 0;
    display: grid;
    grid-template-columns: 1fr var(--dnd5e-sheet-header-right-width);
    align-items: center;

    input {
      background: rgb(0 0 0 / 45%);
      border: 1px solid transparent;

      &:hover, &:focus {
        border: 1px solid var(--dnd5e-color-gold);
        box-shadow: 0 0 6px var(--dnd5e-color-gold);
      }
    }


    /* Name & Class */
    > .left {
      padding: 0 1.5rem 0 3rem;
      display: flex;
      flex-direction: column;
      gap: .25rem;

      &.optional-ability-1 {
        padding-right: 8.5rem;

        .name { font-size: var(--font-size-42) }
      }

      &.optional-ability-2 {
        padding-right: 14rem;

        .name { font-size: var(--font-size-36); }
      }

      /* Name */
      .name {
        color: var(--color-text-light-0);
        font-size: var(--font-size-46);
        text-shadow: 2px 2px 2px var(--color-shadow-dark);
        font-family: var(--dnd5e-font-modesto);
        font-weight: bold;
        letter-spacing: 2px;
        padding: 0;
        margin: 0;
      }

      input.name {
        padding: .3125rem .75rem;
        border-radius: 6px;
      }

      /* Class */
      .class {
        color: var(--dnd5e-color-gold);
        font-size: var(--font-size-14);
      }
    }

    /* Level, XP, & Buttons */
    > .right {
      padding-right: 3rem;
      display: flex;
      flex-direction: column;
      position: relative;

      /* Level */
      .level {
        width: 78px;
        height: 78px;
        background: transparent url("ui/level-badge.webp") no-repeat center / contain;
        font-family: var(--dnd5e-font-roboto);
        font-weight: bold;
        color: var(--color-text-light-0);
        display: grid;
        place-content: center;
        margin-left: auto;
        font-size: var(--font-size-30);
      }

      /* XP & Buttons */
      > div:last-child {
        display: flex;
        flex-direction: column;
        gap: .25rem;
        margin-top: -.5rem;

        /* Resting & Special Traits */
        .sheet-header-buttons {
          display: flex;
          align-items: center;
          gap: .5rem;
          position: absolute;
          top: 1.5625rem;

          > button {
            position: relative;
            border-radius: 4px;
            background: black;
            color: var(--dnd5e-color-gold);
            width: 30px;
            height: 30px;
            margin: 0;
            box-shadow: 0 0 4px var(--dnd5e-shadow-45);
            font-size: var(--font-size-14);
            display: grid;
            place-content: center;

            &::after {
              content: "";
              position: absolute;
              inset: .1875rem;
              border: 1px solid var(--dnd5e-color-gold);
              border-radius: 3px;
            }

            &:hover, &:focus { box-shadow: 0 0 6px var(--dnd5e-color-gold); }
            > i { margin: 0 }
          }
        }

        /* XP */
        .xp-label {
          color: var(--dnd5e-color-gold);
          font-size: var(--font-size-12);
          display: flex;
          gap: .25rem;
          align-items: center;

          > input {
            width: 55px;
            text-align: right;
            padding: .125rem .25rem;
          }
        }

        .xp-bar {
          --bar-percentage: 0%;
          border: 2px solid var(--dnd5e-color-gold);
          background: black;
          width: 100%;
          height: 8px;

          &::after {
            content: "";
            height: 100%;
            width: var(--bar-percentage);
            background: var(--dnd5e-color-red);
            display: block;
          }
        }
      }
    }
  }

  /* ---------------------------------- */
  /*  Sheet Body                        */
  /* ---------------------------------- */

  .sheet-body {

    /* Underlays */
    > .underlays {
      &::before, &::after {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        background: transparent no-repeat top center;
      }

      &::before {
        top: 0;
        height: 770px;
        background-image: url("ui/texture1.webp");
        background-position-y: top;
      }

      &::after {
        bottom: 0;
        height: 704px;
        background-image: url("ui/texture2.webp");
        background-position-y: bottom;
      }
    }

    /* Main Content */
    .main-content {
      --sheet-sidebar-width: 230px;
      display: grid;
      grid-template-columns: var(--sheet-sidebar-width) 1fr;
      gap: .75rem;
      position: absolute;
      inset: 0;
      padding: .5rem;
      overflow: auto;
      scrollbar-width: thin;
      scrollbar-color: var(--dnd5e-color-gold) transparent;

      &::-webkit-scrollbar-track {
        box-shadow: none;
        border-radius: 0;
      }

      &::-webkit-scrollbar-thumb {
        border: none;
        background: var(--dnd5e-color-gold);
      }
    }

    /* Sidebar */
    .sidebar {

      /* Character Card */
      .card {
        box-shadow: 0 0 9px var(--color-shadow-dark);
        border-radius: 3px;
        position: relative;
        background: var(--dnd5e-color-iron-gray) url("/ui/denim.png");
        transform-style: preserve-3d;

        /* Portrait */
        .portrait {
          position: relative;
          width: 100%;
          cursor: pointer;

          > img {
            display: block;
            object-fit: cover;
            object-position: top center;
            border: none;
            width: 100%;
            max-height: 300px;
            min-height: var(--sheet-sidebar-width);
            border-radius: 3px 3px 0 0;
            border-bottom: 2px solid var(--dnd5e-color-gold);
          }

          &::after {
            content: "";
            position: absolute;
            inset: 6px 6px 8px;
            border: 2px solid var(--dnd5e-color-gold);
            pointer-events: none;
          }

          > label.slide-toggle {
            position: absolute;
            z-index: 1;
            padding: 1rem 0;
            width: 100%;
            text-align: center;
            color: var(--dnd5e-color-gold);
            background: linear-gradient(to bottom, rgb(0 0 0 / 65%) 75%, transparent);

            &:has(input:not([disabled])):hover { text-shadow: 0 0 6px var(--dnd5e-color-gold); }
          }

          &.token {
            &::after { display: none; }

            > img {
              object-fit: contain;
              object-position: center;
              border-radius: 0;
              margin-bottom: -1rem;
              border: none;
              filter: drop-shadow(0 0 8px var(--dnd5e-color-black));
            }
          }
        }

        /* Stats */
        .stats {
          padding-bottom: .5rem;
          border-radius: 0 0 3px 3px;

          /* AC & Exhaustion */
          .top {
            display: flex;
            align-items: start;
            justify-content: space-between;
            position: relative;

            /* Exhaustion */
            .pips .pip.filled.death::before {
              content: "\f54c";
              font-family: var(--font-awesome);
              font-size: var(--font-size-11);
            }

            /* AC */
            .ac {
              width: 68px;
              height: 68px;
              text-align: center;
              line-height: 62px;
              background: transparent url("ui/ac-badge.webp") no-repeat center / contain;
              color: var(--color-text-light-0);
              font-size: var(--font-size-23);
              font-family: var(--dnd5e-font-roboto);
              font-weight: bold;
              margin-top: -21px;
              filter: drop-shadow(0 0 6px var(--color-shadow-dark));

              .config-button {
                color: inherit;
                font-size: inherit;
              }
            }
          }

          /* Initiative, Speed, & Proficiency */
          .lozenges {
            display: flex;
            justify-content: space-evenly;
            padding: 0 .5rem;
            margin-top: -7px;

            .lozenge {
              width: 68px;
              height: 45px;
              background: transparent url("ui/lozenge.svg") no-repeat top center / contain;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: space-between;
              filter: drop-shadow(0 0 6px var(--dnd5e-shadow-45));

              .value {
                font-family: var(--dnd5e-font-roboto);
                font-size: 20px;
                font-weight: bold;
                color: var(--color-text-light-0);
                height: 100%;
                line-height: 29px;
                display: grid;
                place-content: center;
                text-shadow: 0 0 4px var(--dnd5e-highlight-45);

                .config-button {
                  color: inherit;
                  font-size: inherit;
                }
              }

              .label {
                font-size: 10px;
                color: var(--dnd5e-color-gold);
              }

              &:nth-child(2) { margin-top: 24px; }

              &.rollable:hover .value {
                cursor: pointer;

                > span { display: none; }

                &::before {
                  content: "\f6cf";
                  font-family: var(--font-awesome);
                  text-shadow: 0 0 8px var(--color-shadow-primary);
                }
              }
            }
          }

          /* Hit Points & Hit Dice */
          .meter-group {
            display: flex;
            flex-direction: column;
            padding: 0 .5rem;
            gap: .125rem;

            + .meter-group { margin-top: .5rem; }

            > .label {
              font-size: var(--font-size-11);
              color: var(--dnd5e-color-gold);
              text-shadow: 0 0 6px var(--dnd5e-shadow-45);
              display: flex;
              align-items: center;
              justify-content: space-between;

              > .config-button { color: var(--dnd5e-color-gold); }
            }

            .meter {
              border: 2px solid var(--dnd5e-color-gold);
              background: var(--dnd5e-color-light-gray);
              font-family: var(--dnd5e-font-roboto);
              font-weight: bold;
              box-shadow: inset 0 0 16px rgb(0 0 0 / 25%);
              position: relative;
              display: flex;
              align-items: center;

              &.hit-points {
                height: 32px;
                font-size: var(--font-size-16);

                .progress::before {
                  background: linear-gradient(to right, var(--dnd5e-color-hp-1) 0%, var(--dnd5e-color-hp-2) 100%);
                  border-right: 3px solid var(--dnd5e-color-hp-3);
                }
              }

              &.hit-dice {
                height: 25px;
                font-size: var(--font-size-14);

                &.progress::before {
                  background: linear-gradient(to right, var(--dnd5e-color-hd-1) 0%, var(--dnd5e-color-hd-2) 100%);
                  border-right: 3px solid var(--dnd5e-color-hd-3);
                }
              }

              &.progress, .progress {
                --bar-percentage: 0%;

                &::before {
                  content: "";
                  position: absolute;
                  height: 100%;
                  width: calc(var(--bar-percentage) - 3px);
                }
              }

              &.sectioned {
                input {
                  width: 100%;
                  height: 100%;
                  text-align: center;
                  border: none;
                  font-weight: bold;
                  background: none;
                  color: var(--color-text-light-0);

                  &:hover, &:focus { box-shadow: 0 0 8px var(--dnd5e-color-gold); }
                }

                > div { height: 100%; }

                > .hit-points {
                  flex: 1;
                  position: relative;
                  display: flex;
                  align-items: center;
                  cursor: pointer;

                  > input { position: relative; }
                }

                > .tmp {
                  flex: none;
                  width: 50px;
                  border-left: 2px dashed var(--dnd5e-color-gold);

                  > input { color: var(--dnd5e-color-blue); }
                }
              }

              .label {
                color: var(--color-text-light-0);
                position: relative;
                padding-left: .5rem;

                .value, .max { text-shadow: 0 0 4px var(--dnd5e-color-gold); }
                .separator { color: var(--dnd5e-color-gold); }
              }
            }
          }
        }

        /* Death Saves */
        .death-tray {
          --lip: 6px;
          --tray-height: 72px;
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 0 .5rem;
          position: absolute;
          width: 100%;
          top: calc(100% - var(--tray-height));
          transform: translateZ(-1px);
          transition: top 450ms cubic-bezier(.36, 0, .66, -.56);

          &.open { top: calc(100% - var(--lip)); }

          .death-saves {
            --padding: .375rem;
            background: black;
            border-radius: 0 0 5px 5px;
            box-shadow: 0 0 6px var(--color-shadow-dark);
            padding: calc(var(--padding) * 2 + var(--lip)) var(--padding) calc(var(--padding) * 2);
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &::after {
              content: "";
              border: 1px solid var(--dnd5e-color-gold);
              border-radius: 4px;
              position: absolute;
              inset: calc(var(--padding) + var(--lip)) var(--padding) var(--padding);
              pointer-events: none;
            }

            .death-save {
              width: 40px;
              height: 40px;
              background: transparent url("ui/skull.svg") no-repeat center / contain;

              &:hover { filter: drop-shadow(0 0 4px var(--color-shadow-primary)); }
            }

            .pip {
              background: black;

              &.filled { background: var(--dnd5e-color-gold); }

              &.filled.failure::before {
                content: "\f00d";
                font-family: var(--font-awesome);
                font-size: var(--font-size-14);
              }
            }
          }

          .death-tab {
            display: grid;
            place-content: center;
            width: 32px;
            height: 20px;
            background: var(--dnd5e-color-iron-gray) url("/ui/denim.png");
            cursor: pointer;
            border-radius: 0 0 3px 3px;
            box-shadow: 0 0 6px var(--color-shadow-dark);

            &:hover, &:focus { box-shadow: 0 0 6px var(--color-shadow-dark); }

            > i {
              color: var(--dnd5e-color-gold);
              font-size: var(--font-size-12);
              margin: 0;
            }
          }
        }
      }

      /* Favorites */
      .favorites {
        margin-top: 1rem;

        > h3 {
          border-bottom-color: var(--dnd5e-color-gold);
          color: var(--dnd5e-color-gold);
          margin-bottom: .75rem;
        }
      }
    }

    /* Tabbed Content */
    .tab-body {
      padding-top: 56px;

      .col-2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: .75rem;

        > .left, .right {
          display: flex;
          flex-direction: column;
          gap: .5rem;
        }
      }
    }

    /* Skills & Tools */
    .skills, .tools {
      > ul {
        list-style: none;
        padding: 0 1rem .75rem;
        margin: 0;

        > li {
          display: flex;
          gap: .5rem;
          align-items: center;
          padding: .375rem;
          border-bottom: 1px dotted #bbb;

          &:last-child { border: none; }

          .config-button {
            font-size: var(--font-size-11);
            color: var(--color-text-light-6);
            width: 20px;
            text-align: center;
          }
        }
      }

      > h3 {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .5rem;
        padding: .75rem 1rem .375rem;
        border: none;
        font-size: var(--font-size-13);
        margin: 0;

        > i {
          font-size: var(--font-size-11);
          color: var(--color-text-dark-5);
        }
      }

      .trait-selector {
        position: absolute;
        inset: .875rem 1.6875rem auto auto;
        font-size: var(--font-size-11);
        color: var(--color-text-light-6);
      }

      .proficiency-toggle {
        cursor: default;
        align-self: center;
      }

      .ability {
        font-size: var(--font-size-12);
        color: var(--color-text-dark-5);
        width: 30px;
        padding-top: 2px;
      }

      select.ability {
        height: 14px;
        width: 48px;
        padding: 0;
      }

      .name {
        flex: 1;
        font-family: var(--dnd5e-font-roboto-condensed);
        font-size: var(--font-size-14);
      }

      .bonus {
        width: 20px;
        font-size: var(--font-size-14);
        font-weight: bold;
        text-align: center;

        > .sign { color: var(--color-text-light-6); }
      }

      .passive {
        width: 20px;
        height: 11px;
        font-size: var(--font-size-11);
        color: var(--color-text-dark-5);
        text-align: center;
      }
    }
  }

  /* ---------------------------------- */
  /*  Ability Scores                    */
  /* ---------------------------------- */

  .ability-scores {
    position: absolute;
    top: 0;
    right: 0;
    width: 546px;
    padding: 4.75rem .75rem;
    pointer-events: none;

    > div {
      display: flex;
      gap: 1.375rem;
    }

    .top {
      padding-right: calc(var(--dnd5e-sheet-header-right-width) + 49px);
      justify-content: end;
      min-height: 72px;
    }

    .ability-score {
      width: 64px;
      height: 64px;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      font-family: var(--dnd5e-font-roboto);
      padding-top: .75rem;
      filter: drop-shadow(0 0 6px var(--dnd5e-shadow-45));
      pointer-events: all;

      &::before {
        content: "";
        position: absolute;
        inset: 0;
        background: transparent url("ui/ability-score-tab.svg") no-repeat top center / contain;
        z-index: -1;
      }

      &.flipped {
        padding: 0 0 .5rem 0;
        height: 72px;
        justify-content: start;
        gap: .125rem;

        &::before { transform: scaleY(-1); }
        .mod { padding: 0; }

        .score {
          margin: 0;
          order: -1;
        }
      }

      .sign { color: var(--color-text-light-6); }

      .label {
        text-transform: uppercase;
        font-size: var(--font-size-11);
        color: var(--dnd5e-color-gold);
      }

      .mod {
        font-weight: bold;
        color: var(--dnd5e-color-black);
        font-size: var(--font-size-16);
        padding: .1875rem 0;
      }

      .score {
        width: 50px;
        height: 23px;
        padding: .25rem;
        text-align: center;
        font-size: var(--font-size-13);
        color: var(--dnd5e-color-gold);
        background: black;
        border-radius: 3px;
        margin-top: -.125rem;

        > input {
          padding: .25rem;
          color: var(--dnd5e-color-gold);
          width: 50px;
          height: 23px;
          border-radius: 3px;
          border: 1px solid transparent;

          &:hover, &:focus {
            border: 1px solid var(--dnd5e-color-gold);
            box-shadow: 0 0 6px var(--dnd5e-color-gold);
          }
        }
      }
    }
  }
}

/* ---------------------------------- */
/*  Edit Mode                         */
/* ---------------------------------- */

.dnd5e2.sheet.actor.character .editable {
  .ability-scores .ability-score .score { padding: 0; }

  :is(.skills, .tools) {
    > ul > li { gap: .25rem; }
    .proficiency-toggle {
      cursor: pointer;
      &::before { border-color: var(--dnd5e-color-blue); }
      &.full::before, &.double::after, &.half::after { background-color: var(--dnd5e-color-blue); }
    }
  }
}
