/* ---------------------------------- */
/*  Chat Cards                        */
/* ---------------------------------- */

:is(.chat-popout, #chat-log) .message {
  padding: .5rem;
  border-width: 1px;
  border-block-end-width: 2px;
  border-radius: 6px;
  font-family: var(--dnd5e-font-roboto);
  font-size: var(--font-size-13);
  position: relative;
  background: var(--dnd5e-color-parchment);

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: transparent url("ui/texture-gray1.webp") no-repeat top left;
    border-radius: 6px;
  }

  > .message-header, > .message-content { position: relative; }

  &.emote { background-color: #f3edde; }
  &.whisper { background-color: #e8e8ef; }
  &.whisper::before { filter: grayscale(1); }
  &.blind { background-color: #f5eaf5; }
  &.blind::before { mix-blend-mode: luminosity; }

  /* Header */
  .message-header {
    margin-bottom: .375rem;

    .message-sender {
      display: flex;
      align-items: start;
      gap: .75rem;
      white-space: unset;

      .avatar {
        height: 100%;
        display: grid;
        place-content: center;
      }

      img {
        width: 38px;
        height: 38px;
        border-radius: 100%;
        box-shadow: 0 0 6px rgb(0 0 0 / 85%);
        object-fit: cover;
        object-position: top;
        border: none;
        flex: none;
        background: var(--dnd5e-color-light-gray);
      }
    }

    .name-stacked {
      flex: 1;
      display: flex;
      min-height: 32px;
      flex-direction: column;
      justify-content: center;
      line-height: normal;
    }

    .title {
      font-family: var(--dnd5e-font-roboto-slab);
      font-size: var(--font-size-16);
      font-weight: bold;
      color: var(--color-text-dark-primary);
    }

    .subtitle {
      font-size: var(--font-size-11);
      color: var(--color-text-dark-5);
    }

    .message-metadata {
      font-size: var(--font-size-10);
      transform: translate(2px, -4px);
      flex: none;
    }

    time { color: var(--color-text-dark-5); }

    .flavor-text {
      margin-block-start: 4px;
      margin-block-end: -4px;
      font-style: italic;
    }
  }
}

/* ---------------------------------- */
/*  Dice Rolls                        */
/* ---------------------------------- */

.dice-result {
  display: flex;
  flex-direction: column;

  .dice-formula, .dice-total {
    border-radius: 3px;
    background: var(--dnd5e-background-5);
    padding: .25rem;
    line-height: normal;
    flex: auto;
    margin: 0;
  }

  .dice-total {
    font-weight: bold;
    font-size: var(--font-size-28);
    padding: .125rem;
    margin-top: .25rem;
    font-family: var(--font-primary);
    position: relative;

    &::before, &::after {
      position: absolute;
      inset: 6px 0 6px auto;
    }

    &::before {
      content: "";
      width: 36px;
      border-left: 1px solid #bbb;
    }

    &::after {
      content: "\f054";
      font-family: var(--font-awesome);
      display: grid;
      place-content: center;
      padding: 0 .8125rem;
      color: var(--color-text-dark-5);
      font-size: var(--font-size-16);
      transition: all 250ms ease;
    }

    &.success, &.critical {
      background: var(--dnd5e-color-success-background);
      border: 1px solid var(--dnd5e-color-success);
      color: var(--dnd5e-color-success-critical);
      &::after { color: var(--dnd5e-color-success); }
    }

    &.failure, &.fumble {
      background: var(--dnd5e-color-failure-background);
      border: 1px solid var(--dnd5e-color-failure);
      color: var(--dnd5e-color-failure-critical);
      &::after { color: var(--dnd5e-color-failure); }
    }
  }

  .dice-tooltip-collapser {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 250ms ease;
  }

  .dice-tooltip {
    flex: auto;
    order: unset;
    display: block;
    overflow: hidden;

    .tooltip-part {
      border-bottom: 1px solid var(--color-border-light-1);
      padding: .125rem 0;

      &:last-child {
        border: none;
        padding-bottom: 0;
      }

      &.constant {
        padding-right: 6px;
        min-height: 40px;
        display: grid;
      }
    }

    .dice {
      display: flex;
      align-items: center;

      .dice-rolls {
        flex: 1;
        margin: 5px 0 5px 10px;
        display: flex;
        flex-wrap: wrap;
        gap: 1px;

        .roll {
          float: unset;
          margin: 0;
        }

        .constant {
          font-family: var(--font-primary);
          font-weight: bold;
          font-size: var(--font-size-18);
          margin-left: .25rem;

          .sign {
            font-weight: normal;
            color: var(--color-text-light-6);
            margin-right: 2px;
          }
        }
      }

      .total {
        flex-basis: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        > img {
          top: 6px;
          position: absolute;
          width: 32px;
          border: none;
          opacity: .1;
        }

        .label {
          font-family: var(--dnd5e-font-roboto-condensed);
          font-size: var(--font-size-10);
          color: var(--color-text-dark-5);
          text-transform: uppercase;
          text-align: center;
        }

        .value {
          font-family: var(--font-primary);
          font-weight: bold;
          font-size: var(--font-size-20);
        }

        .sign {
          color: var(--color-text-light-6);
          font-weight: normal;
          margin-right: 2px;
        }
      }
    }
  }
}

.dice-roll {
  cursor: pointer;
  &.expanded {
    .dice-total::after { transform: rotate(-90deg); }
    .dice-tooltip-collapser { grid-template-rows: 1fr; }
  }

  &.secret-roll {
    cursor: initial;
    .dice-total::before, .dice-total::after {
      content: none;
    }
  }
}

/* ---------------------------------- */
/*  Chat Popouts                      */
/* ---------------------------------- */

.chat-popout {
  margin: 0;
  background: none;
  box-shadow: none;

  .window-header {
    border: none;
    position: absolute;
    inset: 0 0 auto 0;
    height: 54px;
    z-index: 1;
    padding: 7px 6px 0 0;

    a.header-button {
      width: 15px;
      height: 15px;
      display: inline-grid;
      place-content: center;
      border-radius: 100%;
      background: rgb(0 0 0 / 25%);
      color: var(--color-text-light-highlight);
      margin: 0;
      font-size: var(--font-size-10);

      > i { margin: 0; }
    }
  }

  .window-content {
    padding: 0;
    background: none;
    overflow: visible;

    .message {
      margin: 0;
      box-shadow: 0 0 20px var(--color-shadow-dark);
    }
  }

  .message-metadata { padding-right: 18px; }
}

/* ---------------------------------- */
/*  Item Cards                        */
/* ---------------------------------- */

.dnd5e2.chat-card {
  display: flex;
  flex-direction: column;
  gap: .375rem;

  + .dice-roll { margin-top: .375rem; }

  .description {
    padding: .5rem;
    border: 1px solid var(--dnd5e-color-gold);
    border-radius: 3px;
    background: var(--dnd5e-color-card);
    overflow: hidden;

    .summary {
      display: flex;
      align-items: center;
      gap: .5rem;

      > img {
        width: 32px;
        height: 32px;
        object-fit: cover;
        background-color: var(--dnd5e-color-light-gray);
      }

      .name-stacked {
        flex: 1;

        &.border {
          padding-right: .5rem;
          border-right: 1px solid var(--color-border-light-1);
        }
      }

      > i {
        font-size: var(--font-size-14);
        color: var(--color-text-dark-5);
        margin-right: .25rem;
        transition: all 250ms ease;
      }
    }

    .details {
      font-family: var(--dnd5e-font-roboto);
      font-size: var(--font-size-11);
      padding: 0;
      display: grid;
      grid-template-rows: 1fr;
      transition: all 250ms ease;

      > .wrapper {
        display: flex;
        flex-direction: column;
        gap: .25rem;
        overflow: hidden;
      }

      p {
        margin: 0;
        &:first-child { padding-top: .5rem; }
      }
    }

    &.critical {
      border-width: 3px;
      border-style: double;

      .summary .subtitle {
        color: var(--dnd5e-color-success);
        text-transform: uppercase;
      }
    }

    &.collapsible .summary { cursor: pointer; }
    &.collapsed {
      .summary > i { transform: rotate(-90deg); }
      .details {
        grid-template-rows: 0fr;
        opacity: 0;
      }
    }
  }

  .card-buttons {
    display: flex;
    flex-direction: column;
    gap: .375rem;
  }

  .pills .pill {
    font-size: var(--font-size-10);
    line-height: 1;
  }

  p.supplement {
    margin: 0;
    font-size: var(--font-size-11);
    color: var(--color-text-dark-5);
    padding: 0 .25rem;

    > strong {
      color: var(--color-text-dark-primary);
      text-transform: uppercase;
      font-size: var(--font-size-10);
      margin-right: .25rem;
    }
  }
}

/* Damage & Effects Trays */
.dnd5e2 :is(.card-tray, .effects-tray) {
  margin-top: .125rem;
  &:has(.effects:empty) { display: none; }
  &.damage-tray { margin-block-start: 8px; }

  > label {
    cursor: pointer;
    display: flex;
    justify-content: center;
    gap: .25rem;
    font-size: var(--font-size-11);

    > span { flex: none; }
    .fa-bolt, .fa-heart-crack { color: var(--color-text-light-6); }
    .fa-caret-down { transition: all 250ms ease; }

    &::before, &::after {
      content: "";
      flex-basis: 50%;
      border-top: 1px dotted var(--dnd5e-color-gold);
      align-self: center;
    }
  }

  &.collapsed {
    label .fa-caret-down { transform: rotate(-90deg); }
    .collapsible-content { grid-template-rows: 0fr; }
  }

  .collapsible-content {
    display: grid;
    grid-template-rows: 1fr;
    transition: grid-template-rows 250ms ease;
    > .wrapper { overflow: hidden; }
  }

  .target-source-control {
    &:not([hidden]) { display: flex; }
    justify-content: space-evenly;
    gap: 4px;
    margin-block-start: 1px;

    button {
      width: unset;
      font-size: var(--font-size-10);
      &:hover, &:focus, &[aria-pressed="true"] {
        box-shadow: none;
        text-shadow: 0 0 5px var(--color-shadow-highlight);
      }
    }
  }

  .effects, .targets {
    display: flex;
    flex-direction: column;

    .effect, .target {
      display: flex;
      gap: .5rem;
      align-items: center;
      padding-bottom: .25rem;
      margin-bottom: .25rem;
      border-bottom: 1px solid var(--color-border-light-1);

      &:last-child {
        padding: 0;
        margin: 0;
        border: none;
      }

      > img {
        width: 32px;
        height: 32px;
      }

      .name-stacked { flex: 1; }
    }
    > .none {
      text-align: center;
      margin-block: 4px;
    }
  }

  .effects .effect {
    > button {
      width: 28px;
      height: 28px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 0 0 4px;
      font-size: var(--font-size-12);
    }
  }

  .targets .target {
    flex-wrap: wrap;

    .calculated-damage {
      padding-inline-end: 4px;
      font-size: var(--font-size-14);
      font-weight: bold;
    }

    .damage-multipliers {
      flex: 1 0 calc(100% - 6px);
      display: grid;
      grid-template-columns: auto repeat(6, 1fr);
      gap: 2px;
      margin-inline: 3px;
      font-size: var(--font-size-11);

      &::before {
        content: "\f00d";
        align-self: center;
        padding-inline-end: 2px;
        color: var(--dnd5e-color-tan);
        font-family: var(--font-awesome);
        font-weight: 900;
      }

      button {
        width: 100%;
        border-radius: 3px;
        padding: 2px;
        font-size: inherit;
        line-height: unset;
        cursor: pointer;

        &::after {
          content: "";
          display: block;
          width: 8px;
          height: 8px;
          border-radius: 8px;
          background-color: var(--dnd5e-color-faint);
        }

        &[aria-pressed="true"] {
          border-color: var(--dnd5e-color-crimson);
          &::after { background-color: var(--dnd5e-color-crimson); }
        }
      }
    }
  }

  .targets + button {
    margin: 3px;
    width: calc(100% - 6px);
    margin-block-start: 6px;
  }
}

.hidden-dc { display: contents; }
.visible-dc { display: none; }
[data-display-challenge] {
  .hidden-dc { display: none; }
  .visible-dc { display: contents; }
}

/* ---------------------------------- */
/*  Target Evaluations                */
/* ---------------------------------- */

:is(.chat-popout, #chat-log) .message .dnd5e2.evaluation {
  list-style: none;
  padding: 0;
  margin: .375rem 0 0;
  display: flex;
  flex-direction: column;
  gap: .25rem;

  .target {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: .325rem;
    border: 1px solid;
    border-radius: 3px;

    > img {
      width: 36px;
      height: 36px;
      object-fit: cover;
      object-position: top;
      border-radius: 100%;
      border: 3px solid var(--dnd5e-color-gold);
      box-shadow: 0 0 6px var(--dnd5e-shadow-45);
      background: var(--dnd5e-color-light-gray);
    }

    .name-stacked {
      flex: 1;
      line-height: normal;
      min-height: 24px;

      .title {
        font-size: var(--font-size-16);
        display: flex;
        align-items: center;
        gap: .325rem;

        > i { font-size: var(--font-size-14); }
      }
    }

    .ac {
      display: flex;
      align-items: center;
      gap: .25rem;
      font-size: var(--font-size-16);
      margin-right: .5rem;
      opacity: .35;

      > i { min-height: 17px; }

      > span {
        font-weight: bold;
        font-family: var(--font-primary);
      }
    }

    &.hit {
      border-color: var(--dnd5e-color-success);
      background: var(--dnd5e-color-success-background);
      .ac { color: #105b10; }
      .title > i { color: var(--dnd5e-color-success); }
    }

    &.miss {
      border-color: var(--dnd5e-color-failure);
      background: var(--dnd5e-color-failure-background);
      .ac { color: var(--dnd5e-color-failure); }
      .title > i {
        color: var(--dnd5e-color-failure);
        height: 12px;
      }
    }
  }
}
