.dnd5e2 {
  /* Reset button & input styles */
  input.uninput, button.unbutton {
    --border: none;
    border: var(--border);
    box-shadow: none;
    outline: none;

    &:hover, &:focus {
      box-shadow: none;
      border: var(--border);
      outline: none;
    }
  }

  input.uninput {
    color: inherit;
    font-weight: inherit;
    height: unset;
  }

  button.unbutton {
    background: none;
    margin: 0;
    border-radius: 0;
    line-height: normal;

    > i { margin: 0; }
    &:hover, &:focus { background: none; }
  }
  button.dice-button {
    padding: 6px 8px;
    > i { margin: 0; }
  }

  fieldset.unfieldset {
    display: contents;
    + fieldset.unfieldset > .form-group.full-width { margin-top: 2px; }
  }

  /* Inputs & Buttons */
  input, button {
    transition: all 250ms ease;
  }

  button {
    --button-focus-outline-color: none;
    --button-text-color: var(--color-text-primary);
    --button-hover-text-color: var(--color-text-primary);
    --button-background-color: var(--dnd5e-background-card);
    --button-hover-background-color: var(--button-background-color);
    font-size: var(--font-size-13);
    text-transform: uppercase;
    padding: 3px;
    box-shadow: 0 0 8px var(--dnd5e-shadow-15);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .25rem;
    min-height: unset;

    &:not(.icon) {
      font-family: var(--dnd5e-font-roboto);
      font-weight: bold;
    }
    &:disabled {
      --button-text-color: var(--color-text-inactive);
      --button-hover-text-color: var(--color-text-inactive);
      cursor: var(--cursor-default);
    }
    &:hover:not(:disabled), &:focus {
      box-shadow: 0 0 5px var(--color-shadow-primary);
    }
  }

  button.radio-button {
    width: 13px;
    height: 13px;
    border-radius: 100%;
    background: none;
    box-shadow: inset 0 0 6px var(--dnd5e-shadow-45);
    padding: 3px;
    display: grid;
    border: none;
    justify-content: unset;

    &:hover { filter: drop-shadow(0 0 6px var(--dnd5e-color-gold)); }

    &[aria-pressed="true"]::before {
      content: "";
      width: 100%;
      height: 100%;
      display: inline-block;
      border-radius: 100%;
      background: var(--color-border-dark-5);
    }
  }

  /* Reset select styles */
  select {
    color: inherit;

    &.unselect {
      border: none;
      padding: 0;
      background: transparent;
      height: unset;
    }
  }

  /* Reset textarea styles */
  textarea.untext {
    background: none;
    border: none;

    &:focus { box-shadow: none; }
  }

  .form-grid {
    display: flex;
    flex-wrap: wrap;
    gap: .75rem;
    justify-content: center;

    &.form-grid-20 > * { flex-basis: 20%; }

    &.form-grid-50 {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    input[type="text"], input[type="number"], input[type="search"], input[type="file"] {
      --input-background-color: var(--dnd5e-background-parchment);
      border: 2px solid var(--dnd5e-color-gold);
      border-radius: 8px;
      padding: .5rem;
      font-size: var(--font-size-14);
      height: unset;
      width: 100%;

      &:focus { box-shadow: 0 0 6px var(--dnd5e-color-gold); }
    }

    input[type="number"] {
      font-weight: bold;
    }
  }

  label.input-stack {
    display: flex;
    flex-direction: column;

    span {
      text-align: center;
      font-size: var(--font-size-10);
      color: var(--color-text-secondary);
    }

    input { text-align: center; }
  }

  label.checkbox {
    cursor: var(--cursor-pointer);
    display: flex;
    align-items: center;
    gap: 4px;

    &:has(input[type=checkbox]:disabled, dnd5e-checkbox[disabled]) { cursor: var(--cursor-default); }
    > span { line-height: calc(var(--form-field-height) + 1px); }
  }

  /* Fieldset */

  fieldset {
    display: flex;
    flex-direction: column;
    gap: 4px;
    border-radius: 4px;
    border: 1px solid var(--color-fieldset-border);
    margin: 0;

    > legend {
      text-transform: uppercase;
      font-weight: bold;
      font-size: var(--font-size-11);
      color: var(--fieldset-legend-color);
      padding: 0 6px;

      > label.checkbox {
        --checkbox-size: 14px;
        font-weight: bold;
        height: 13px;

        dnd5e-checkbox { margin-bottom: 1px; }
      }
    }

    > .empty {
      padding: 6px;
      font-style: italic;
      text-align: center;
      color: var(--color-text-secondary);
    }

    &.card {
      &:not(:has(legend)) { padding-block-start: 10px; }

      > legend {
        background: var(--dnd5e-background-card);
        position: relative;
        border-radius: 2px;
        padding: 2px 6px 0;

        &::before {
          content: "";
          position: absolute;
          inset: 0;
          border-radius: 2px;
          box-shadow: 0 0 6px var(--dnd5e-shadow-45);
          outline: var(--dnd5e-border-gold);
          z-index: -1;
        }
      }

      > .header {
        font-family: var(--dnd5e-font-roboto-slab);
        font-variant: all-small-caps;
        font-size: var(--font-size-12);
        font-weight: bold;
      }


    }

    &:disabled {
      .form-group label, .hint {
        --color-form-hint: var(--color-text-tertiary);
        color: var(--color-text-tertiary);
      }
    }
  }

  /* Form Groups */
  .form-group {
    margin: 0;

    > label {
      font-family: var(--dnd5e-font-roboto-slab);
      font-weight: bold;
      font-size: var(--font-size-12);
    }

    &.label-top {
      --label-height: 10px;
      flex-direction: column;
      align-items: stretch;
      gap: 2px;

      > * { flex: unset; }

      > label {
        font-family: var(--dnd5e-font-roboto);
        text-transform: uppercase;
        font-size: var(--font-size-10);
        font-weight: bold;
        line-height: var(--label-height);
        height: var(--label-height);

        > p.hint {
          cursor: help;
          font-size: var(--font-size-10);
          display: inline-block;
          margin: 0 0 0 3px;
          line-height: var(--label-height);
          height: var(--label-height);

          &:empty { min-height: unset; }
          &:hover { text-shadow: 0 0 6px var(--color-shadow-primary); }

          &::before {
            content: "\f059";
            font-family: var(--font-awesome);
            font-weight: normal;
            color: var(--hint-icon-color);
          }
        }
      }

      + .form-group { align-self: end; }

      &.checkbox-top {
        flex: 0;
        min-width: max-content;
        align-items: center;
      }

      &.multi-select {
        position: relative;

        multi-select .tags.input-element-tags {
          min-height: 10px;
          padding-left: 40%;
        }

        > label {
          position: absolute;
          inset: auto auto calc(var(--form-field-height) + 2px) 0;
        }
      }
    }

    label.label-icon {
      position: relative;

      &::after {
        content: "";
        display: inline-block;
        width: 1em;
        height: 1em;
        background: transparent no-repeat center / contain;
        margin-left: 3px;
        position: absolute;
      }
    }

    /* Split Groups */
    &.split-group > .form-fields {

      &.field-groups {
        flex-direction: column;
        align-items: stretch;
        flex-wrap: nowrap;
      }

      .field-group {
        display: flex;
        gap: 4px;
        > .form-group { flex: 1; }
      }

      .form-group {
        flex-wrap: nowrap;
        &:not(.label-top, .checkbox) { gap: 4px; }
        > * { flex: unset; }
      }

      > .control-button, .field-group > .control-button {
        position: absolute;
        inset: auto 0 0 auto;
      }

      .singleton {
        align-self: center;
        margin: 0 6px;
      }

      multi-select .tags.input-element-tags .tag { background: var(--dnd5e-background-parchment); }
    }

    &.split-group.full-width > .form-fields {
      position: relative;
      padding-right: 20px;
    }

    /* Full-Width Groups */
    &.full-width {
      padding: 6px;
      box-shadow: 0 0 6px var(--dnd5e-shadow-15);

      & + .full-width { margin-top: 2px; }
    }

    &.card {
      background: var(--separated-list-item-background-color);
      border-color: var(--separated-list-item-border-color);
    }
  }

  .form-footer button { --button-size: var(--input-height); }

  /* Hints */
  :is(.form-group, fieldset) .hint {
    --color-form-hint: var(--color-text-secondary);
    --color-form-hint-hover: var(--color-form-hint);
    font-size: var(--font-size-11);
    margin: 4px 0 0;
  }

  /* Form Fields */
  textarea, select, input[type="text"], input[type="number"], input[type="search"], input[type="file"] {
    --input-box-shadow: none;
    --input-text-color: var(--color-text-primary);
    transition: all 250ms ease, block-size, inline-size;
    line-height: normal;
    outline: none;

    &:focus { outline: none; }
    &:enabled {
      &:focus-visible, &:hover {
        border-color: var(--input-hover-border-color);
        box-shadow: 0 0 6px var(--dnd5e-color-gold);
      }
    }

    &:disabled {
      background: var(--input-disabled-background-color);
    }
  }
  select, input[type="text"], input[type="number"], input[type="search"], input[type="file"] {
    --input-height: var(--form-field-height);
    padding: 0 6px;
  }
  textarea {
    border: 1px solid var(--input-border-color);
    padding: 6px;
    background: rgba(0, 0, 0, 0.1);
    font-size: var(--font-size-11);
  }

  :is(.form-group, fieldset) :is(select, input):not([type="range"]) {
    font-size: var(--font-size-11);
  }

  input::placeholder, textarea::placeholder { opacity: unset; }

  input.full-width {
    flex: 0 0 100%;
    margin-top: 4px;
  }

  option, optgroup { --color-select-option-bg: var(--dnd5e-background-parchment); }
  input[type=number] { text-align: center; }

  select {
    height: var(--form-field-height);
    &:not(:disabled) { cursor: var(--cursor-pointer); }
  }

  :is(document-tags, multi-select) .tags.input-element-tags .tag {
    cursor: var(--cursor-pointer);
    font-size: var(--font-size-10);
    border: var(--dnd5e-border-gold);
    border: 1px solid var(--multi-select-tag-border);
    background: var(--multi-select-tag-background);
    border-radius: 3px;
    &:hover a { text-shadow: 0 0 6px var(--color-shadow-primary); }
  }

  :is(document-tags, multi-select):has(select:disabled) .tags.input-element-tags .tag {
    cursor: var(--cursor-default);
    a { cursor: var(--cursor-default); }
    &:hover a { text-shadow: none; }
    .remove { display: unset; }
    .fa-xmark { display: none; }
  }

  multi-select.hidden-tags .tags.input-element-tags { display: none; }

  :is(file-picker, document-tags) > button {
    height: var(--form-field-height);
    border: var(--dnd5e-border-gold);
  }

  /* Numeric Range Fields */
  .form-fields.range-fields {
    .sep {
      --icon-size: 16px;
      --icon-fill: var(--color-text-tertiary);
    }
  }

  range-picker {
    input[type="range"] {
      --range-thumb-background-color: var(--dnd5e-color-card);
      --range-thumb-border-color: var(--dnd5e-color-gold);
      --range-track-border-color: transparent;
      border: none;

      &:not([disabled]) {
        &:hover, &:focus-visible {
          --range-track-border-color: var(--dnd5e-color-gold);
          &::-moz-range-track { box-shadow: 0 0 6px var(--dnd5e-color-gold); }
          &::-webkit-slider-runnable-track { box-shadow: 0 0 6px var(--dnd5e-color-gold); }
        }
      }

      &::-moz-range-thumb { transition: all 250ms ease; }
      &::-moz-range-track { transition: all 250ms ease; }
      &::-webkit-slider-thumb { transition: all 250ms ease; }
      &::-webkit-slider-runnable-track { transition: all 250ms ease; }

      .range-thumb() {
        border-radius: 100%;
        box-shadow: 0 0 3px var(--dnd5e-shadow-45);
      }

      .range-track() {
        border: 1px solid var(--range-track-border-color);
        box-shadow: none;
      }

      &::-moz-range-thumb { .range-thumb(); }
      &::-webkit-slider-thumb { .range-thumb(); }
      &::-moz-range-track { .range-track(); }
      &::-webkit-slider-runnable-track { .range-track(); }
    }
  }

  /* Checkboxes */
  input[type=checkbox] {
    --checkbox-background-color: var(--dnd5e-color-gold);
    --checkbox-checked-color: var(--dnd5e-color-gold);
  }

  /* Radio Buttons */
  input[type=radio] {
    appearance: revert;
    -webkit-appearance: revert;
    -moz-appearance: revert;
    position: unset;
    margin: revert;
    &::before, &::after { content: unset; }
  }

  .form-fields > dnd5e-checkbox { flex: none; }

  .form-group.checkbox > label, label.checkbox {
    font-weight: normal;
    font-family: var(--dnd5e-font-roboto);
    font-size: var(--font-size-11);
  }

  .form-group.checkbox {
    justify-content: space-evenly;
    flex: none;
    gap: 8px;
  }

  /* Checkbox Grid */
  .checkbox-grid {
    --num-cols: 4;

    &.checkbox-grid-3 { --num-cols: 3; }

    > .form-fields {
      display: grid;
      grid-template-columns: repeat(var(--num-cols), 1fr);

      > label {
        text-align: unset;
        > span { line-height: normal; }
      }
    }
  }

  /* FA icon-based slide-toggle */
  label.slide-toggle {
    display: block;

    > input { display: none; }
    &:has(input:not([disabled])) { cursor: var(--cursor-pointer); }
  }

  /* Control buttons */
  button.control-button, button.config-button {
    padding: 0;
    width: unset;
    display: inline-block;
    color: var(--color-text-secondary);

    &:focus-visible, &:hover {
      box-shadow: none;
      text-shadow: 0 0 5px var(--color-shadow-primary);
      background: none;
    }
  }

  button.config-button { color: var(--color-text-secondary); }
  button.control-button { color: var(--control-button-text-color); }

  .form-fields > .control-button, .form-fields .field-group > .control-button {
    &:not(.middle) { align-self: end; }
    padding: 0 4px;
  }

  /* Pips */
  .pips, &.standard-form .pips {
    display: flex;
    gap: 5px;
    padding: 10px 12px;

    .pip {
      --pip-size: 16px;
      background: var(--dnd5e-background-alt-1);
      border: 2px solid var(--dnd5e-color-gold);
      border-radius: 100%;
      width: var(--pip-size);
      height: var(--pip-size);
      display: grid;
      place-content: center;
      font-weight: bold;
      font-size: var(--font-size-18);
      box-shadow: 0 0 6px var(--dnd5e-shadow-45);
      margin: 0;

      &.filled { background: var(--dnd5e-color-gold); }

      &:not(:disabled):is(:hover, :focus) {
        box-shadow: 0 0 6px var(--dnd5e-color-gold);
        background: var(--dnd5e-background-alt-1);
        &.filled { background: var(--dnd5e-color-gold); }
      }
    }
  }
}

/* App V2 Standard Form */
.dnd5e2 .standard-form,
.dnd5e2.standard-form {
  --color-form-label: var(--color-text-primary);
  --color-form-label-hover: var(--color-form-label);
  --input-height: 26px;
  gap: 0;

  .form-group:not(.label-top, .checkbox) {
    gap: 0;

    > label {
      flex: 2;
      line-height: var(--input-height);
    }

    > .form-fields { flex: 3; }
  }
  .form-group.checkbox-grid > .form-fields { flex: 0 0 100%; }

  fieldset { padding: revert; }
  .hint { line-height: 16px; }

  :where(button:not(.icon, .fa-solid, .fas)) {
    height: unset;
    &:not(.copy-button, .unbutton, .reveal) { line-height: 28px; }
  }

  :is(document-tags, multi-select) .tags.input-element-tags .tag {
    padding: 1px 4px;
    color: var(--color-text-primary);
    height: unset;
    opacity: unset;
  }
}

.application .flexrow > dnd5e-checkbox { flex: 0; }
