.dnd5e2 dnd5e-inventory {

  /* ---------------------------------- */
  /* Entries                            */
  /* ---------------------------------- */

  .inventory-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    container-type: inline-size;
  }

  /* Sections / Categories */
  .items-section {
    border-radius: 4px;
    background: var(--dnd5e-color-card);
    box-shadow: 0 0 6px var(--dnd5e-shadow-45);
    border: 1px solid var(--dnd5e-color-gold);

    .item-list {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    .items-header, .item {
      display: flex;
      align-items: stretch;

      .item-name {
        flex: 1;
        display: flex;
        gap: .5rem;
        align-items: center;
        line-height: 1;
        padding: .25rem;

        &.rollable {
          cursor: pointer;
          &:hover .title { text-shadow: 0 0 8px var(--color-shadow-primary); }
        }

        .title {
          transition: text-shadow 250ms ease;
          font-size: var(--font-size-13);
        }
      }

      /* Item Name */
      h3.item-name {
        border: none;
        margin: 0;
        padding: .5rem;
        font-family: var(--font-roboto-slab);
        font-size: var(--font-size-13);
        font-weight: bold;
      }

      .item-header {
        font-family: var(--dnd5e-font-roboto-condensed);
        text-transform: uppercase;
        font-size: var(--font-size-11);
      }

      .item-detail, .item-header {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .item-detail.empty::after {
        content: "–";
        color: var(--color-text-light-6);
        font-weight: normal;
      }

      /* Item Image */
      .item-image {
        width: 32px;
        height: 32px;
        object-fit: cover;
      }

      /* Item Weight & Price */
      .item-weight, .item-price {
        gap: .25rem;

        i {
          font-size: var(--font-size-9);
          color: var(--color-text-light-6);
        }
      }

      .item-weight { width: 60px; }

      .item-price {
        width: 80px;
        display: none;
      }

      /* Item Quantity & Uses */
      .item-quantity, .item-uses {
        width: 70px;
        justify-content: space-evenly;

        i { font-size: var(--font-size-11); }

        input {
          background: none;
          border: none;
          padding: 0;
          font-weight: bold;
          transition: box-shadow 250ms ease;

          &:focus-visible, &:hover { box-shadow: 0 0 6px var(--dnd5e-color-gold); }
        }
      }

      .item-quantity input {
        text-align: center;
        width: 30px;
      }

      .item-uses {
        gap: unset;
        &.item-detail { font-weight: bold; }
        .max, input { width: 20px; }
        .separator { color: var(--dnd5e-color-gold); }
        .max { color: var(--color-text-dark-5); }
        input { text-align: right; }
      }

      /* Item Controls */
      .item-controls {
        width: 60px;
        justify-content: center;
        gap: .375rem;
        color: var(--color-text-light-6);
        padding: 0 1.5rem 0 .25rem;
        position: relative;

        .item-control.active { color: var(--dnd5e-color-black); }

        [data-context-menu] {
          position: absolute;
          inset-inline-end: .75rem;
          text-align: center;
        }
      }

      @container (min-width: 600px) {
        .item-price { display: flex; }
      }
    }

    .items-header {
      background: linear-gradient(to right, var(--dnd5e-color-hd-1), var(--dnd5e-color-hd-2));
      color: white;
      border-radius: 4px 4px 0 0;
      border-bottom: 1px solid var(--dnd5e-color-gold);
    }

    .item {
      border-bottom: var(--dnd5e-border-dotted);
      &:last-child { border: none; }
    }
  }
}
