/* ------------------------------------ */
/*  System Global Typography            */
/* ------------------------------------ */
:is(.dnd5e, .dnd5e2, .dnd5e2-journal) {
  /* Content Links & Enrichers */
  a:is(.content-link, .inline-roll),
  a.roll-link-group .roll-link,
  a.roll-link-group.roll-link,
  :is(.roll-link-group, .reference-link) a {
    --content-link-text-color: var(--color-text-primary);
    background: transparent;
    border: none;
    text-decoration: underline currentcolor;
    text-underline-offset: 2px;

    > i {
      color: var(--color-text-primary);
      opacity: 0.75;
      transition: opacity 250ms ease;
      margin-right: 0.25em;
    }

    &.broken {
      color: var(--dnd5e-color-maroon);
      cursor: not-allowed;
      > i { color: currentcolor; }
    }

    &:hover {
      text-shadow: none;
      > i { opacity: 1; }
    }

    &:focus-visible { text-shadow: 0 0 8px var(--color-shadow-primary); }
  }

  a.roll-link-group:hover { text-shadow: none; }

  a.enricher-action {
    text-decoration: none;

    &::before {
      content: "\f105";
      font-family: var(--font-awesome);
      font-weight: bold;
      margin: 0 4px 0 2px;
      font-size: var(--font-size-10);
      color: var(--color-text-tertiary);
    }
  }

  .roll-link > i.fa-dice-d20,
  a.inline-roll > i.fa-dice-d20 {
    display: inline-block;
    width: 1em;
    height: 1.1em;
    background: url("../../icons/svg/d20-black.svg") no-repeat center / contain;
    vertical-align: middle;
    font-size: inherit;
    filter: var(--dnd5e-roll-icon-filter, none);

    &::before { content: unset; }
  }

  .passive-check {
    text-decoration-color: currentcolor;
    text-underline-offset: 2px;
    text-decoration: underline;
    text-decoration-style: dotted;
    cursor: help;
  }

  .award-block {
    [data-action="awardRequest"] {
      margin-block: -2px;
      margin-inline-start: 4px;
      border: 1px dotted black;
      border-radius: 4px;
      padding-block: 2px;
      padding-inline: 4px 2px;

      &:hover, &:focus {
        border-style: solid;
      }
    }
  }
  .award-entry {
    display: inline-flex;
    align-items: center;
    gap: 4px;
  }

  .sidebar-block {
    margin-block-end: 4px;
    background-color: rgb(238 236 228 / 0.75);
    padding: 8px;
    padding-block-end: 2px;

    h4 {
      font-size: var(--font-size-16);
      font-weight: bold;
    }
  }

  /* Tables */
  table {
    background: var(--table-background-color);
    border-color: var(--dnd5e-color-table-border);
    border-radius: 0;
    margin: 0.5em 0;

    :where(p:first-child) { margin-block-start: 0; }
    :where(p:last-child) { margin-block-end: 0; }

    caption {
      margin-block-end: 2px;
      font-family: var(--dnd5e-font-roboto-slab);
      font-variant: small-caps;
      font-weight: bold;
    }

    thead {
      background: linear-gradient(
        to right,
        var(--dnd5e-color-table-header-1),
        var(--dnd5e-color-table-header-2)
      );
      color: var(--color-text-light-0);
      text-align: center;
      font-family: var(--dnd5e-font-roboto-slab);
      font-weight: bold;
      text-shadow: none;
      border-color: var(--dnd5e-color-table-border);

      tr:nth-child(n) { background: unset; }
      td { word-break: normal; }

      th {
        line-height: normal;
        font-size: var(--font-size-14);
      }
    }

    tr:nth-child(even) { background-color: var(--dnd5e-color-table-row-even); }
    tr:nth-child(odd) { background-color: var(--dnd5e-color-table-row-odd); }
    td { padding: 0.375em; }

    &:is(.core-class-traits, .core-traits) th { min-width: 60px; }
  }

  /* Embed Captions */
  .content-embed figcaption cite {
    display: block;
    text-align: right;

    &::before { content: "-"; }
  }

  /* Embedded Roll Tables */
  .content-embed.caption-top {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0 0 2rem 0;

    cite {
      position: absolute;
      inset: 100% 0 auto auto;
    }

    figcaption { order: -1; }

    .embed-caption {
      font-weight: normal;
      text-align: left;
      font-style: italic;
    }
  }

  /* NPC Stat Blocks */
  .double-column .statblock.npc {
    max-width: calc(var(--dnd5e-statblock-column-width) * 2);
    .statblock-content { columns: 2; }
  }

  .statblock {
    max-width: var(--dnd5e-statblock-column-width);
    background: var(--dnd5e-statblock-background-plain);
    border: 3px double var(--dnd5e-statblock-border);
    border-radius: 8px;
    padding-block: 4px;
    padding-inline: 8px;
    box-shadow: 2px 2px 2px var(--dnd5e-shadow-15);

    &.rules-2014 {
      position: relative;
      margin-inline: 2px;
      border: none;
      border-radius: 0;
      background: var(--dnd5e-statblock-background-parchment);
      box-shadow: 0 0 6px var(--dnd5e-shadow-15);

      &::before, &::after {
        content: "";
        position: absolute;
        background: var(--dnd5e-statblock-scroll);
        border: 1px solid var(--dnd5e-statblock-border);
        inset-inline: -2px;
        block-size: 5px;
      }
      &::before { inset-block-start: -5px; }
      &::after { inset-block-end: -5px; }
    }

    .statblock-title,
    .statblock-actions-title {
      border-block-end: 1px solid var(--dnd5e-statblock-title-border);
      font-variant: small-caps;
      break-after: avoid;
    }

    .statblock-title {
      color: color-mix(
        in oklab,
        var(--dnd5e-statblock-text-header) 75%,
        transparent
      );
      font-size: var(--font-size-18);

      i { display: none; }

      .content-link {
        padding: 0;
        text-decoration: none;
      }
    }
    &.rules-2014 .statblock-title {
      margin-block-end: 0;
      border: none;
      color: var(--dnd5e-statblock-text-header);
      font-size: var(--font-size-24);
      font-weight: normal;
    }
    .statblock-actions-title {
      margin-block-start: 8px;
      color: var(--dnd5e-statblock-text-header);
      font-size: var(--font-size-16);
      font-weight: normal;
    }
    .statblock-tags {
      color: var(--dnd5e-statblock-text-secondary);
      font-style: italic;
    }
    &.rules-2014 .statblock-tags {
      color: var(--dnd5e-statblock-text-primary);
      font-size: var(--font-size-13);
    }

    .statblock-content { column-width: var(--dnd5e-statblock-column-width); }

    .statblock-header {
      break-inside: avoid;
      color: var(--dnd5e-statblock-text-header);

      dl {
        display: flex;
        flex-wrap: wrap;
        margin: 0.5em 0;

        dd { margin-inline-start: 4px; }
        > div {
          flex: 1 0 100%;
          &.half-width { flex: 1 0 50%; }
        }

        div > :is(dt, dd) {
          display: inline;
          line-height: 1.5;
        }
        dt {
          color: var(--dnd5e-statblock-text-header);
          text-shadow: none;
          font-weight: bold;
        }
      }
    }
    &.rules-2014 .statblock-header { margin-block-start: 8px;}
    &.rules-2024 .abilities {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 6px;

      table, thead, tbody, tr, th, td { all: revert; }
      table { border-collapse: collapse; }

      thead th {
        color: var(--dnd5e-statblock-text-secondary);
        font-family: var(--dnd5e-font-roboto);
        font-size: var(--font-size-10);
        font-weight: normal;
        text-transform: uppercase;

        &.visually-hidden {
          clip: rect(0 0 0 0);
          clip-path: inset(50%);
          font-size: 1px;
          overflow: hidden;
          white-space: nowrap;
        }
      }
      tbody {
        tr {
          border-block: 1px solid var(--dnd5e-statblock-ability-border);
          &:nth-of-type(odd) {
            th, .score { background: var(--dnd5e-statblock-ability-header-1st); }
            td { background: var(--dnd5e-statblock-ability-stat-1st); }
          }
          &:nth-of-type(even) {
            th, .score { background: var(--dnd5e-statblock-ability-header-2nd); }
            td { background: var(--dnd5e-statblock-ability-stat-2nd); }
          }
        }
        th { font-variant: small-caps; }
        td { text-align: center; }
      }
    }
    &.rules-2014 .abilities {
      display: flex;
      > .ability {
        flex: 1 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        .name {
          text-transform: uppercase;
          font-weight: bold;
        }
      }
    }
    &.rules-2014 :is(.statblock-header, .abilities) {
      position: relative;
      padding-block: 4px;

      &::before, &::after {
        content: "";
        position: absolute;
        display: block;
        height: 6px;
        inset-inline: 0;
        background: var(--dnd5e-statblock-separator);
        clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
      }
      &::before { inset-block-start: 0; }
      &::after { inset-block-end: 0; }

      &.abilities { padding-block: 12px; }
    }

    .statblock-actions {
      color: var(--dnd5e-statblock-text-primary);

      > p { font-style: italic; }

      .statblock-action {
        > p:first-child > .name {
          font-style: italic;
          font-weight: bold;
          &::after { content: ". "; }
        }
        a, button {
          display: contents;
          cursor: inherit;
          pointer-events: none;
          :is(.fas, .fa-solid, .far, .fa-regular) { display: none; }
        }
      }
    }
  }

  /** System Rich Text Blocks **/
  :is(.journal-entry-content, .journal-page-content) {
    h1, h2, h3 {
      font-family: var(--dnd5e-font-modesto);
      font-weight: bold;
      border-bottom: none;
    }
  }

  :is(.editor-content, .card-content, .item-summary) {
    h1, h2, h3 { font-family: var(--dnd5e-font-roboto-slab); }
    h1 { font-size: 1.5em; }
    h2 { font-size: 1.4em; }

    h3 {
      font-size: 1.25em;
      padding-bottom: 0;
      border-bottom: 1px solid var(--dnd5e-color-black);
    }
  }

  :is(.journal-entry-content, .journal-page-content, .editor-content, .card-content, .item-summary) {
    font-family: var(--dnd5e-font-roboto-condensed);

    h1, h2, h3, h4, h5, h6 { color: var(--color-text-emphatic); }

    h1, h2, h3, h4 {
      margin: 0 0 .5rem;
      line-height: normal;
    }

    h4 {
      font-family: var(--dnd5e-font-roboto-slab);
      font-weight: bold;
      font-size: var(--font-size-13);
    }

    h5 { font-size: var(--font-size-13); }

    ul, ol {
      margin: .5em 0;
      padding: 0 0 0 1.5em;
    }

    blockquote {
      margin: .5em 0 .5em 10px;
      padding: 0 0 0 20px;
      border-left: 3px solid var(--color-border-light-tertiary);
    }
  }
}
