<section class="flexcol">
    {{#if fields.length}}
    {{> "systems/dnd5e/templates/actors/rest/parts/fields.hbs" }}
    {{/if}}

    {{#if hitPoints.length}}
    {{> "systems/dnd5e/templates/actors/rest/parts/hit-points.hbs" }}
    {{/if}}

    {{#if request}}
    {{> "systems/dnd5e/templates/actors/rest/parts/rest-request.hbs" }}
    {{/if}}
</section>
