<form autocomplete="off">
  <ol class="items-list">
  {{#each types as |advancement name|}}
    <li class="item flexrow">
      <label class="item-name flexrow" for="radio-{{name}}">
        <div class="item-image inverted" style="background-image: url('{{advancement.icon}}')"></div>
        <h3>{{advancement.label}}</h3>
      </div>
      <div class="item-controls flexrow">
        <input name="type" type="radio" id="radio-{{name}}" value="{{name}}" {{disabled advancement.disabled}}>
      </div>
      <div class="item-hint notes">
        {{advancement.hint}}
      </div>
    </li>
  {{/each}}
  </ol>

  <button type="submit" name="submit" disabled>
    <i class="far fa-save"></i> {{localize "DND5E.AdvancementSelectionCreateButton"}}
  </button>
</form>
