<form autocomplete="off">

  <h1>
    Bard
    <span class="level">Level 9</span>
  </h1>

  <div class="advancement-controls">
    <section data-type="HitPoints">
      <h3>
        Hit Points
      </h3>
      <div class="rolls">
        <label>Take Average</label>
        <input type="checkbox" name="average">
        <div class="spacer"></div>
        <input type="number" name="result">
        <button type="button" name="roll"><i class="fas fa-dice-d20"></i> Roll d8</button>
      </div>
    </section>

    <section data-type="ScaleValue">
      <h3>
        Song of Rest Die
        <div class="item-checkmark" title="{{localize "DND5E.AdvancementConfiguredComplete"}}">
          <i class="fas fa-check-circle"></i>
        </div>
      </h3>
      <p>
        <span class="initial-scale-value">d6</span> &#x27A1; <span class="new-scale-value">d8</span>
      </p>
    </section>
  </div>

  <nav>
    <button type="button" name="next"><i class="fas fa-angle-double-right"></i> Next</button>
  </nav>

</form>
