<form autocomplete="off">

  <h1>{{header}}</h1>
  {{#if subheader}}
    <h2>{{subheader}}</h2>
  {{/if}}

  <div class="advancement-controls">
    {{#each advancements}}
      <section data-id="{{this.id}}" data-type="{{this.type}}">
        <h3>{{{this.title}}}</h3>
        {{> (lookup this 'template') (lookup this 'data')}}
      </section>
    {{/each}}
  </div>

  <nav>
    {{#if previousStep}}
      <button type="button" name="previous"><i class="fas fa-angle-double-left"></i> Previous</button>{{! TODO: Localize }}
    {{/if}}
    <button type="button" name="next"><i class="fas fa-angle-double-right"></i> Next</button>{{! TODO: Localize }}
  </nav>

</form>
