<form autocomplete="off">
    {{> "dnd5e.advancement-controls"}}
    <div class="form-group">
        <label>{{localize "DND5E.HitDie"}}</label>
        <span class="form-field-readonly">{{hitDie}}</span>
    </div>
</form>
