{{#if (eq level 1)}}

  <div>
    Max at 1st Level: <strong>{{ dieValue }}</strong>
  </div>

{{else}}

  <div class="rolls">
    <label class="averageLabel">Take Average</label>
    <input class="averageCheckbox" type="checkbox" name="{{advancement.id}}.useAverage" {{checked data.useAverage}}>
    <div class="spacer"></div>
    <input class="rollResult" type="number" name="{{advancement.id}}.value" value="{{data.value}}">
    <button class="rollButton" type="button" name="roll"><i class="fas fa-dice-d20"></i> Roll {{hitDie}}</button>
  </div>

{{/if}}
