{{#if isL1}}
<div>
  {{{localize "DND5E.AdvancementHitPointsMaxAtFirstLevel" max=dieValue}}}
  <input type="hidden" name="rollResult" value="{{dieValue}}" data-dtype="Number">
</div>
{{else}}

<div class="rolls">
  <label class="averageLabel">
    <span>{{localize "DND5E.AdvancementHitPointsAverage"}}</span>
    <input class="averageCheckbox" type="checkbox" name="useAverage" checked>
  </label>
  <input class="rollResult" type="number" name="value" value="{{data.value}}">
  <button class="rollButton" type="button" name="roll">
    <i class="fas fa-dice-d20"></i> {{localize "DND5E.AdvancementHitPointsRollButton" die=hitDie}}
  </button>
</div>
{{/if}}
