<div>
    <span class="initial-scale-value {{#unless initial}}none{{/unless}}">
        {{#if initial}}{{{ initial }}}{{else}}{{ localize "DND5E.None" }}{{/if}}
    </span>
    <span class="arrow">&#x27A1;</span>
    <span class="new-scale-value">{{{ final }}}</span>
</div>
