.dnd5e.advancement {
  input[type="text"], input[type="number"], select {
    height: var(--form-field-height);
  }
  .form-group .form-fields button {
    flex: 0;
  }

  /* ----------------------------------------- */
  /*  Advancement Selection                    */
  /* ----------------------------------------- */
  .items-list {
    margin-bottom: 1em;

    li.item {
      padding-top: 0.25em;
    }
    .item-image {
      mix-blend-mode: difference;
    }
    .item-hint {
      flex: 0 1 100%;
      margin-left: 35px;
      margin-bottom: 0.5em;
    }
  }
}
