.journal-editor {
  .tox-tinymce {
    height: 100% !important;
  }
}

.classSummary {
  h4 {
    border-block-end: 1px solid var(--color-underline-header);
    font-weight: bold;
  }

  table {
    th[scope="col"] {
      padding-inline: 0.25em;
    }

    td:is(.level, .prof, .scale) {
      text-align: center;
    }
  }
}
