@import "./variables.less";

/* ----------------------------------------- */
/*  Basic Structure                          */
/* ----------------------------------------- */
.dnd5e.sheet.actor.npc {
  min-width: 620px;
  min-height: 710px;

  /* ----------------------------------------- */
  /*  General Styles                           */
  /* ----------------------------------------- */

  label {
    display: inline; // TODO: Undo a dirty hack in the 5e sheet
  }

  input {
    color: @colorDark;
  }

  /* Box Headers */
  h4.box-title {
    line-height: 16px;
    margin: 4px 16px 2px;
    font-size: 18px;
    border-bottom: 1px solid @colorBeige;
  }

  /* ----------------------------------------- */
  /*  Sheet Header                             */
  /* ----------------------------------------- */

  .sheet-header {
    .charlevel {
      flex: 0 0 160px;
      height: 60px;
      margin: 0;
      padding: 5px;
      text-align: right;

      .level {
        width: 100%;
        height: 30px;
        font-size: 20px;
        line-height: 30px;

        label {
          display: inline;
          font-size: 24px;
          text-align: right;
        }

        input {
          display: inline;
          width: 36px;
          font-size: 24px;
          text-align: center;
        }
      }

      .experience {
        width: 100%;
        height: 20px;
        padding-right: 8px;
        font-size: 16px;
        color: @colorOlive;
      }
    }
  }

  /* ----------------------------------------- */
  /*  Attributes                               */
  /* ----------------------------------------- */

  ul.attributes {
    list-style: none;
    margin: 10px 0 0;
    padding: 0;

    li.attribute {
      height: 80px;
      margin: 0 5px;
      border: @borderGroove;
      border-radius: 4px;
      .nodesto();
      text-align: center;

      .attribute-name {
        flex: 0 0 18px;
      }

      .attribute-value {
        flex: 0 0 30px;
        line-height: 30px;

        input {
          display: inline;
          max-width: 80%;
          margin: 0;
          font-size: 24px;
        }

        span.sep {
          display: inline;
          position: relative;
          top: 2px;
          font-size: 28px;
          color: @colorTan;
        }

        &.multiple {
          input {
            max-width: 40%;
          }
        }
      }

      .attribute-footer {
        flex: 0 0 20px;
        line-height: 20px;
        margin: -3px 0 5px;
        font-family: "Signika", "Palatino Linotype", serif;
        font-size: 14px;
        input { margin: 0; }
      }
    }
  }

  /* ----------------------------------------- */
  /*  Statuses                                 */
  /* ----------------------------------------- */

  .resources {
    flex: 0 0 100%;
    border-bottom: @borderGroove;
    margin-bottom: 5px;

    .resource {
      padding: 0 6px;
      line-height: 32px;

      h4 {
        flex: auto;
        margin: 0;
        .nodesto();
        font-size: 14px;
      }

      .status-value {
        flex: 0 0 50px;
        > * {
          display: inline;
        }
      }

      input[type="text"] {
        height: 20px;
        max-width: 20px;
        margin: 0;
        text-align: center;
      }

      input[type="checkbox"] {
        transform: scale(1.2);
        position: relative;
        margin: 0;
        top: 6px;
      }

      &.lair input[type="text"] {
        width: 32px;
        max-width: 32px;
      }

      span.sep {
        margin: 0 -2px;
        font-size: 12px;
      }
    }
  }

}