@import "./variables.less";

/* ----------------------------------------- */
/*  Basic Structure                          */
/* ----------------------------------------- */
.dnd5e.sheet.actor.npc {
  min-width: 600px;
  min-height: 658px;

  .spellcasting-level {
    flex: 1.5;
    margin-right: 10px;
    input {
      flex: 0 0 32px;
      text-align: center;
    }
  }

}