@import "./variables.less";

/* ----------------------------------------- */
/*  Basic Structure                          */
/* ----------------------------------------- */
.shaper.sheet.actor.npc {
  min-width: 600px;
  min-height: 680px;

  .header-exp {
    flex: 0 0 80px;
    justify-content: center;
    .experience {
      flex: 0 0 18px;
      color: @colorTan;
      font-size: 16px;
    }

  }
}