.dnd5e.sheet.actor.vehicle {
  .attribute.health {
    .attribute-footer {
      display: flex;
    }
  }

  .counters {
    .counter.creature-cap {
      .counter-value {
        flex: 1;
      }

      input {
        max-width: none;
        text-align: right;
      }
    }

    .counter.cargo-cap {
      input {
        max-width: 40px;
        text-align: right;
      }
    }
  }
}
