# Build Artifacts
dnd5e.css
dnd5e.css.map
dnd5e-compiled*
dnd5e.lock
packs/*
!packs/_source/

# IDE
.idea/
.nova/
.vs/
.vscode/
*.code-workspace
*.iml
*.swp

# Node Modules
node_modules/

# OS Specific
.DS_Store
