/* Deprecated vars */
/* ----------------------------------------- */
/*  Fonts                                    */
/* ----------------------------------------- */
@font-face {
  font-family: "Nodesto";
  src: url("fonts/NodestoCapsCondensed.otf");
}
.nodesto {
  font-family: "Nodesto", "Signika", "Palatino Linotype", serif;
  font-size: 20px;
}
/* ----------------------------------------- */
/*  Sheet Styles                             */
/* ----------------------------------------- */
/* ----------------------------------------- */
/*  Flexbox                                  */
/* ----------------------------------------- */
.flexrow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.flexrow > * {
  flex: 1;
}
.flexcol {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.flexcol > * {
  flex: 1;
}
.dnd5e.sheet {
  /* ----------------------------------------- */
  /*  Sheet Header                             */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Sheet Navigation                         */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Sheet Body                               */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Element Styles                           */
  /* ----------------------------------------- */
  /* Tags */
  /* ----------------------------------------- */
  /*  List Filters                             */
  /* ----------------------------------------- */
}
.dnd5e.sheet .window-content {
  overflow-y: hidden;
  padding: 5px;
  background: url("ui/parchment.jpg") repeat;
  font-size: 13px;
  color: #191813;
}
.dnd5e.sheet .window-content form {
  height: 100%;
  overflow: hidden;
}
.dnd5e.sheet input,
.dnd5e.sheet select {
  margin: 0;
}
.dnd5e.sheet .sheet-header {
  flex: 0 0 100px;
  border-bottom: 2px groove #eeede0;
  font-family: "Nodesto", "Signika", "Palatino Linotype", serif;
  font-size: 20px;
  /* Character Name */
  /* Profile Image */
  /* Sheet Details */
}
.dnd5e.sheet .sheet-header h1 {
  flex: 1;
  border-bottom: none;
  height: 60px;
  margin: 0;
  padding: 5px;
}
.dnd5e.sheet .sheet-header h1 input {
  height: 50px;
  font-size: 36px;
}
.dnd5e.sheet .sheet-header img.profile {
  flex: 0 0 100px;
  height: 100px;
  object-fit: cover;
  border: none;
  border-right: 2px groove #eeede0;
}
.dnd5e.sheet .sheet-header .details {
  flex: 0 0 100%;
  height: 40px;
  margin: 0;
  padding: 0;
  list-style: none;
  border-top: 2px groove #eeede0;
  border-bottom: none;
}
.dnd5e.sheet .sheet-header .details li {
  width: 33.33%;
  float: left;
  height: 34px;
  margin: 2px 0;
  padding: 0 3px;
  border-right: 2px groove #eeede0;
  line-height: 34px;
  color: #4b4a44;
}
.dnd5e.sheet .sheet-header .details li:last-child {
  border-right: none;
}
.dnd5e.sheet .sheet-navigation {
  flex: 0 0 30px;
  margin-bottom: 10px;
  font-family: "Nodesto", "Signika", "Palatino Linotype", serif;
  font-size: 20px;
}
.dnd5e.sheet .sheet-navigation .item {
  height: 30px;
  line-height: 36px;
  margin: 0 24px;
  border-bottom: 3px solid #b5b3a4;
}
.dnd5e.sheet .sheet-navigation .item.active {
  border-bottom: 3px solid #44191A;
}
.dnd5e.sheet .sheet-body {
  flex: 1;
  overflow: hidden;
}
.dnd5e.sheet input[type="text"] {
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  background: none;
  color: #444;
  border: 1px solid transparent;
}
.dnd5e.sheet input[type="text"]:hover,
.dnd5e.sheet input[type="text"]:focus {
  border: 1px solid #111;
  box-shadow: 0 0 8px red;
}
.dnd5e.sheet select {
  flex: 1;
  margin: 0;
  font-size: 10px;
  height: 18px;
  background: transparent;
}
.dnd5e.sheet input:disabled,
.dnd5e.sheet select:disabled,
.dnd5e.sheet textarea:disabled {
  color: #444;
  border: none;
}
.dnd5e.sheet input:disabled:hover,
.dnd5e.sheet select:disabled:hover,
.dnd5e.sheet textarea:disabled:hover,
.dnd5e.sheet input:disabled:focus,
.dnd5e.sheet select:disabled:focus,
.dnd5e.sheet textarea:disabled:focus {
  border: none;
  box-shadow: none;
}
.dnd5e.sheet .tag {
  float: left;
  margin: 0 2px 2px 0;
  padding: 0 3px;
  font-size: 10px;
  line-height: 16px;
  border: 1px solid #999;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.05);
}
.dnd5e.sheet .filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 16px;
}
.dnd5e.sheet .filter-list .filter-title {
  flex: 4;
  font-family: "Nodesto", "Signika", "Palatino Linotype", serif;
  font-size: 20px;
  font-size: 18px;
}
.dnd5e.sheet .filter-list .filter-item {
  text-align: center;
  font-size: 12px;
  margin: 0 6px;
  border-bottom: 3px solid #b5b3a4;
}
.dnd5e.sheet .filter-list .filter-item:hover {
  text-shadow: 0 0 4px red;
  border-bottom: 3px solid #7a7971;
}
.dnd5e.sheet .filter-list .filter-item.active {
  border-bottom: 3px solid #44191A;
}
.dnd5e.sheet.actor {
  /* ----------------------------------------- */
  /*  Ability Scores                           */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Skills                                   */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Traits                                   */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Inventory Lists                          */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Spellbook                                */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Biography                                */
  /* ----------------------------------------- */
}
.dnd5e.sheet.actor .ability-scores {
  flex: 0 0 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: "Nodesto", "Signika", "Palatino Linotype", serif;
  font-size: 20px;
}
.dnd5e.sheet.actor .ability-scores .ability {
  margin: 0 5px;
  text-align: center;
  border: 2px groove #eeede0;
  border-radius: 4px;
  /* Hide modifier box on hover */
}
.dnd5e.sheet.actor .ability-scores .ability input.ability-score {
  height: 30px;
  width: 50px;
  margin: 0 auto;
  line-height: 32px;
  font-size: 24px;
}
.dnd5e.sheet.actor .ability-scores .ability .ability-modifiers {
  height: 24px;
  margin: -10px 0 0;
}
.dnd5e.sheet.actor .ability-scores .ability .ability-modifiers span.ability-mod,
.dnd5e.sheet.actor .ability-scores .ability .ability-modifiers span.ability-save {
  flex: 0 0 24px;
  height: 24px;
  border-top: 2px groove #eeede0;
}
.dnd5e.sheet.actor .ability-scores .ability .ability-modifiers span.ability-mod {
  border-right: 2px groove #eeede0;
}
.dnd5e.sheet.actor .ability-scores .ability .ability-modifiers .ability-proficiency {
  line-height: 30px;
}
.dnd5e.sheet.actor .ability-scores .ability .ability-modifiers span.ability-save {
  border-left: 2px groove #eeede0;
}
.dnd5e.sheet.actor .ability-scores .ability input.ability-score:hover + .ability-modifiers {
  visibility: hidden;
}
.dnd5e.sheet.actor .proficiency-toggle {
  color: #b5b3a4;
  font-size: 12px;
}
.dnd5e.sheet.actor .proficient .proficiency-toggle {
  color: #4b4a44;
}
.dnd5e.sheet.actor .locked .proficiency-toggle {
  color: #b5b3a4;
  text-shadow: none;
  cursor: default;
}
.dnd5e.sheet.actor ul.skills-list {
  flex: 0 0 200px;
  list-style: none;
  margin: 10px 5px;
  padding: 2px 2px 0;
  border: 2px groove #eeede0;
}
.dnd5e.sheet.actor ul.skills-list li.skill {
  height: 24px;
  padding: 3px;
}
.dnd5e.sheet.actor ul.skills-list li.skill h4 {
  flex: 0 0 100px;
  margin: 0;
}
.dnd5e.sheet.actor ul.skills-list li.skill .skill-proficiency {
  flex: 0 0 16px;
  line-height: 18px;
}
.dnd5e.sheet.actor ul.skills-list li.skill .skill-ability {
  flex: 0 0 26px;
}
.dnd5e.sheet.actor ul.skills-list li.skill .skill-mod {
  flex: 0 0 20px;
}
.dnd5e.sheet.actor ul.skills-list li.skill .skill-passive {
  text-align: center;
  color: #7a7971;
}
.dnd5e.sheet.actor .traits {
  margin: 0 5px;
}
.dnd5e.sheet.actor .traits .form-group,
.dnd5e.sheet.actor .traits .form-group-stacked {
  margin: 0 0 4px 0;
}
.dnd5e.sheet.actor .traits .trait-selector {
  float: right;
  color: #999;
  font-size: 10px;
}
.dnd5e.sheet.actor .traits .traits-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.dnd5e.sheet.actor .traits label {
  line-height: 20px;
  font-weight: bold;
  margin: 0;
}
.dnd5e.sheet.actor .traits input {
  text-align: right;
}
.dnd5e.sheet.actor .traits i.fas {
  float: right;
  margin-right: 3px;
  text-align: right;
  color: #999;
}
.dnd5e.sheet.actor .traits i.fas:hover {
  color: #111;
  text-shadow: 0 0 10px red;
}
.dnd5e.sheet.actor .traits .inactive {
  color: #7a7971;
}
.dnd5e.sheet.actor .inventory-list {
  list-style: none;
  margin: 0;
  padding: 0 5px;
  height: 100%;
  overflow-y: auto;
}
.dnd5e.sheet.actor .inventory-list .item {
  line-height: 30px;
  padding: 0 2px;
  border-bottom: 1px solid #c9c7b8;
}
.dnd5e.sheet.actor .inventory-list .item:last-child {
  border-bottom: none;
}
.dnd5e.sheet.actor .inventory-list .item .item-name {
  cursor: pointer;
}
.dnd5e.sheet.actor .inventory-list .item .item-name h4 {
  flex: 2;
  margin: 0;
}
.dnd5e.sheet.actor .inventory-list .item .item-name .item-charges {
  color: #666;
  font-size: 12px;
  flex: 0;
}
.dnd5e.sheet.actor .inventory-list .item .item-name:hover .item-image {
  background-image: url("/icons/svg/d20-grey.svg") !important;
}
.dnd5e.sheet.actor .inventory-list .item .item-name .item-image:hover {
  background-image: url("/icons/svg/d20-black.svg") !important;
}
.dnd5e.sheet.actor .inventory-list .item .item-image {
  flex: 0 0 30px;
  background-size: 30px;
  margin-right: 5px;
}
.dnd5e.sheet.actor .inventory-list .item .item-properties {
  margin-top: 3px;
}
.dnd5e.sheet.actor .inventory-list .inventory-header {
  margin: 2px 0;
  padding: 0;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
  line-height: 24px;
}
.dnd5e.sheet.actor .inventory-list .inventory-header h3 {
  flex: 2;
  margin: 0;
  padding-left: 5px;
  font-size: 13px;
  font-weight: bold;
}
.dnd5e.sheet.actor .inventory-list .inventory-header .item-controls a.item-create {
  width: 100%;
}
.dnd5e.sheet.actor .inventory-list .item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.dnd5e.sheet.actor .inventory-list .item-controls {
  flex: 0 0 44px;
}
.dnd5e.sheet.actor .inventory-list .item-controls a {
  display: block;
  float: left;
  width: 22px;
  font-size: 10px;
  text-align: center;
  color: #666;
}
.dnd5e.sheet.actor .inventory-list .item-summary {
  flex: 0 0 100%;
  font-size: 12px;
  line-height: 16px;
  padding: 0.25em 0.5em;
  border-top: 1px solid #c9c7b8;
}
.dnd5e.sheet.actor .spellbook .inventory-list {
  height: calc(100% - 50px);
}
.dnd5e.sheet.actor .spellbook-filters {
  margin: 5px 8px 0;
}
.dnd5e.sheet.actor .spell-slots,
.dnd5e.sheet.actor .spell-comps {
  flex: 0 0 80px;
  font-size: 12px;
  text-align: right;
  color: #7a7971;
  border-right: 1px solid #c9c7b8;
}
.dnd5e.sheet.actor .spell-slots input,
.dnd5e.sheet.actor .spell-slots span.sep {
  display: inline;
  max-width: 20px;
  text-align: center;
}
.dnd5e.sheet.actor .spell-comps {
  padding-right: 8px;
}
.dnd5e.sheet.actor .spell-school,
.dnd5e.sheet.actor .spell-action {
  flex: 0 0 120px;
  font-size: 12px;
  color: #7a7971;
  text-align: center;
  border-right: 1px solid #c9c7b8;
}
.dnd5e.sheet.actor .spellcasting-ability,
.dnd5e.sheet.actor .spellbook-filters {
  margin: 0 8px 4px;
}
.dnd5e.sheet.actor .spellcasting-ability h3,
.dnd5e.sheet.actor .spellbook-filters h3 {
  font-family: "Nodesto", "Signika", "Palatino Linotype", serif;
  font-size: 20px;
  font-size: 18px;
  margin: 0;
}
.dnd5e.sheet.actor .spellbook-empty .item-controls {
  flex: 1;
}
.dnd5e.sheet.actor .biography .editor {
  height: 100%;
  padding: 0 5px;
}
.dnd5e.sheet.actor .biography .editor .tox-toolbar-overlord,
.dnd5e.sheet.actor .biography .editor .tox-toolbar__primary {
  background: none;
}
.dnd5e.sheet.item .sheet-header .item-subtitle {
  flex: 0 0 80px;
  height: 60px;
  margin: 0;
  padding: 5px;
  text-align: right;
  color: #7a7971;
}
.dnd5e.sheet.item .sheet-header .item-subtitle .item-type {
  font-size: 24px;
  line-height: 26px;
  margin: 0;
}
.dnd5e.sheet.item .sheet-header .item-subtitle .item-status {
  font-size: 16px;
  line-height: 24px;
}
.dnd5e.sheet.item .sheet-body .item-properties {
  flex: 0 0 120px;
  list-style: none;
  margin: 0 10px 0 5px;
  padding: 0;
}
.dnd5e.sheet.item .sheet-body .item-properties li {
  margin: 5px 0;
  padding: 2px;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  text-align: center;
  font-size: 12px;
  line-height: 16px;
}
/* ----------------------------------------- */
/*  Chat Cards
/* ----------------------------------------- */
.dnd5e.chat-card {
  font-style: normal;
}
.dnd5e.chat-card .card-header {
  padding: 3px 0;
  border-top: 2px groove #FFF;
  border-bottom: 2px groove #FFF;
}
.dnd5e.chat-card .card-header img {
  flex: 0 0 36px;
  margin-right: 5px;
}
.dnd5e.chat-card .card-header h3 {
  flex: 1;
  margin: 0;
  line-height: 36px;
}
.dnd5e.chat-card .card-content {
  margin: 5px 0;
}
.dnd5e.chat-card .card-buttons {
  margin: 5px 0;
}
.dnd5e.chat-card .card-buttons span {
  display: block;
  line-height: 28px;
  text-align: center;
  border: 1px solid #CCC;
}
.dnd5e.chat-card .card-buttons button {
  margin: 2px 0;
}
.dnd5e.chat-card .card-footer {
  padding: 3px 0 0;
  border-top: 2px groove #FFF;
}
.dnd5e.chat-card .card-footer span {
  border-right: 2px groove #FFF;
  padding: 0 5px 0 0;
  font-size: 12px;
}
.dnd5e.chat-card .card-footer span:last-child {
  border-right: none;
  padding-right: 0;
}
/* ----------------------------------------- */
/*  Basic Structure                          */
/* ----------------------------------------- */
.dnd5e.sheet.actor.npc {
  min-width: 620px;
  min-height: 710px;
  /* ----------------------------------------- */
  /*  General Styles                           */
  /* ----------------------------------------- */
  /* Box Headers */
  /* ----------------------------------------- */
  /*  Sheet Header                             */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Attributes                               */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Statuses                                 */
  /* ----------------------------------------- */
}
.dnd5e.sheet.actor.npc label {
  display: inline;
}
.dnd5e.sheet.actor.npc input {
  color: #191813;
}
.dnd5e.sheet.actor.npc h4.box-title {
  line-height: 16px;
  margin: 4px 16px 2px;
  font-size: 18px;
  border-bottom: 1px solid #b5b3a4;
}
.dnd5e.sheet.actor.npc .sheet-header .charlevel {
  flex: 0 0 160px;
  height: 60px;
  margin: 0;
  padding: 5px;
  text-align: right;
}
.dnd5e.sheet.actor.npc .sheet-header .charlevel .level {
  width: 100%;
  height: 30px;
  font-size: 20px;
  line-height: 30px;
}
.dnd5e.sheet.actor.npc .sheet-header .charlevel .level label {
  display: inline;
  font-size: 24px;
  text-align: right;
}
.dnd5e.sheet.actor.npc .sheet-header .charlevel .level input {
  display: inline;
  width: 26px;
  font-size: 24px;
  text-align: center;
}
.dnd5e.sheet.actor.npc .sheet-header .charlevel .experience {
  width: 100%;
  height: 20px;
  padding-right: 8px;
  font-size: 16px;
  color: #4b4a44;
}
.dnd5e.sheet.actor.npc ul.attributes {
  list-style: none;
  margin: 10px 0 0;
  padding: 0;
}
.dnd5e.sheet.actor.npc ul.attributes li.attribute {
  height: 80px;
  margin: 0 5px;
  border: 2px groove #eeede0;
  border-radius: 4px;
  font-family: "Nodesto", "Signika", "Palatino Linotype", serif;
  font-size: 20px;
  text-align: center;
}
.dnd5e.sheet.actor.npc ul.attributes li.attribute .attribute-name {
  flex: 0 0 18px;
}
.dnd5e.sheet.actor.npc ul.attributes li.attribute .attribute-value {
  flex: 0 0 30px;
  line-height: 30px;
}
.dnd5e.sheet.actor.npc ul.attributes li.attribute .attribute-value input {
  display: inline;
  max-width: 80%;
  margin: 0;
  font-size: 24px;
}
.dnd5e.sheet.actor.npc ul.attributes li.attribute .attribute-value span.sep {
  display: inline;
  position: relative;
  top: 2px;
  font-size: 28px;
  color: #7a7971;
}
.dnd5e.sheet.actor.npc ul.attributes li.attribute .attribute-value.multiple input {
  max-width: 40%;
}
.dnd5e.sheet.actor.npc ul.attributes li.attribute .attribute-footer {
  flex: 0 0 20px;
  line-height: 20px;
  margin: -3px 0 5px;
  font-family: "Signika", "Palatino Linotype", serif;
  font-size: 14px;
}
.dnd5e.sheet.actor.npc ul.attributes li.attribute .attribute-footer input {
  margin: 0;
}
.dnd5e.sheet.actor.npc .resources {
  flex: 0 0 100%;
  border-bottom: 2px groove #eeede0;
  margin-bottom: 5px;
}
.dnd5e.sheet.actor.npc .resources .resource {
  padding: 0 6px;
  line-height: 32px;
}
.dnd5e.sheet.actor.npc .resources .resource h4 {
  display: inline-block;
  margin: 0;
  font-family: "Nodesto", "Signika", "Palatino Linotype", serif;
  font-size: 20px;
  font-size: 16px;
}
.dnd5e.sheet.actor.npc .resources .resource .status-value {
  display: inline-block;
  float: right;
}
.dnd5e.sheet.actor.npc .resources .resource .status-value > * {
  display: inline;
}
.dnd5e.sheet.actor.npc .resources .resource input[type="text"] {
  height: 20px;
  max-width: 20px;
  margin: 0;
  text-align: center;
}
.dnd5e.sheet.actor.npc .resources .resource input[type="checkbox"] {
  position: relative;
  top: 2px;
}
.dnd5e.sheet.actor.npc .resources .resource span.sep {
  margin: 0 -2px;
  font-size: 12px;
}
