<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Item Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img"/>

        <div class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="Item Name"/>
            </h1>

            <div class="item-subtitle">
                <h4 class="item-type">{{itemType}}</h4>
                <span class="item-status">{{itemStatus}}</span>
            </div>

            <ul class="details">
                <li class="item-detail">
                    {{lookup config.spellLevels data.level.value}}
                </li>
                <li class="item-detail">
                    {{lookup config.spellSchools data.school.value}}
                </li>
                <li class="item-detail">
                    <input type="text" name="data.source.value" value="{{data.source.value}}" placeholder="Source"/>
                </li>
            </ul>
        </div>
    </header>

    {{!-- Item Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="description">{{ localize "DND5E.Description" }}</a>
        <a class="item" data-tab="details">{{ localize "DND5E.Details" }}</a>
        <a class="item" data-tab="action">{{ localize "DND5E.Action" }}</a>
    </nav>

    {{!-- Item Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab flexrow active" data-group="primary" data-tab="description">
            <ol class="item-properties">
                {{#each itemProperties}}
                <li>{{this}}</li>
                {{/each}}
            </ol>
            {{editor content=data.description.value target="data.description.value" button=true owner=owner editable=editable}}
        </div>

        {{!-- Details Tab --}}
        <div class="tab details" data-group="primary" data-tab="details">

            {{!-- Spell Level --}}
            <div class="form-group">
                <label>Spell Level</label>
                <select name="data.level.value" data-dtype="{{data.level.type}}">
                    {{#select data.level.value}}
                    {{#each config.spellLevels as |name lvl|}}
                    <option value="{{lvl}}">{{name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>

            {{!-- Spell School --}}
            <div class="form-group">
                <label>Spell School</label>
                <select name="data.school.value" data-dtype="{{data.school.type}}">
                    {{#select data.school.value}}
                    {{#each config.spellSchools as |name sch|}}
                    <option value="{{sch}}">{{name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>

            {{!-- Item Activation Template --}}
            {{> "public/systems/dnd5e/templates/items-v2/parts/item-activation.html"}}

            {{!-- Spell Components --}}
            <div class="spell-components form-group stacked">
                <label>Spell Components</label>
                <label class="checkbox">
                    <input type="checkbox" name="data.components.vocal" {{checked data.components.vocal}}/> Vocal
                </label>
                <label class="checkbox">
                    <input type="checkbox" name="data.components.somatic" {{checked data.components.somatic}}/> Somatic
                </label>
                <label class="checkbox">
                    <input type="checkbox" name="data.components.material" {{checked data.components.material}}/> Material
                </label>
                <label class="checkbox">
                    <input type="checkbox" name="data.concentration.value" {{checked data.concentration.value}}/> Concentration
                </label>
                <label class="checkbox">
                    <input type="checkbox" name="data.ritual.value" {{checked data.ritual.value}}/> Ritual
                </label>
            </div>

            {{!-- Material Components --}}
            <div class="form-group stacked">
                <label>Spellcasting Materials</label>
                <input type="text" name="data.materials.value" value="{{data.materials.value}}"/>
            </div>
        </div>

        {{!-- Actions Tab --}}
        <div class="tab details" data-group="primary" data-tab="action">

            {{!-- Preparation Mode --}}
            <div class="form-group input-select">
                <label>Spell Preparation Mode</label>
                <div class="form-fields">
                    <label class="checkbox prepared">
                        Prepared <input type="checkbox" name="data.preparation.prepared" {{checked data.preparation.prepared}}/>
                    </label>
                    <select name="data.preparation.mode">
                        {{#select data.preparation.mode}}
                        <option value=""></option>
                        {{#each config.spellPreparationModes as |name key|}}
                        <option value="{{key}}">{{name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>
            </div>

            {{!-- Limited Spell Uses --}}
            <div class="form-group uses-per">
                <label>Limited Spell Uses</label>
                <div class="form-fields">
                    <input type="text" name="data.preparation.uses" value="{{data.preparation.uses}}" data-dtype="Number"/>
                    <span class="sep"> of </span>
                    <input type="text" name="data.preparation.max" value="{{data.preparation.max}}" data-dtype="Number"/>
                    <span class="sep"> per </span>
                    <select name="data.preparation.per">
                        {{#select data.preparation.per}}
                        <option value=""></option>
                        <option value="sr">Short Rest</option>
                        <option value="lr">Long Rest</option>
                        <option value="day">Day</option>
                        {{/select}}
                    </select>
                </div>
            </div>

            {{!-- Item Action Template --}}
            {{> "public/systems/dnd5e/templates/items-v2/parts/item-action.html"}}
        </div>
    </section>
</form>
