<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Item Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img"/>

        <div class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="Item Name"/>
            </h1>

            <div class="item-subtitle">
                <h4 class="item-type">{{itemType}}</h4>
                <span class="item-status">{{itemStatus}}</span>
            </div>

            <ul class="details">
                <li class="item-detail">
                    {{lookup spellLevels data.level.value}}
                </li>
                <li class="item-detail">
                    {{lookup spellSchools data.school.value}}
                </li>
                <li class="item-detail">
                    <input type="text" name="data.source.value" value="{{data.source.value}}" placeholder="Source"/>
                </li>
            </ul>
        </div>
    </header>

    {{!-- Item Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="description">{{ localize "DND5E.Description" }}</a>
        <a class="item" data-tab="details">{{ localize "DND5E.SpellDetails" }}</a>
        <a class="item" data-tab="actions">{{ localize "DND5E.SpellActions" }}</a>
    </nav>

    {{!-- Item Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab flexrow active" data-group="primary" data-tab="description">
            <ol class="item-properties">
                {{#each itemProperties}}
                <li>{{this}}</li>
                {{/each}}
            </ol>
            {{editor content=data.description.value target="data.description.value" button=true owner=owner editable=editable}}
        </div>

        {{!-- Details Tab --}}
        <div class="tab details" data-group="primary" data-tab="details">

            {{!-- Spell Level --}}
            <div class="form-group">
                <label>{{data.level.label}}</label>
                <select name="data.level.value" data-dtype="{{data.level.type}}">
                    {{#select data.level.value}}
                    {{#each spellLevels as |name lvl|}}
                    <option value="{{lvl}}">{{name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>

            {{!-- Spell School --}}
            <div class="form-group">
                <label>{{data.school.label}}</label>
                <select name="data.school.value" data-dtype="{{data.school.type}}">
                    {{#select data.school.value}}
                    {{#each spellSchools as |name sch|}}
                    <option value="{{sch}}">{{name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>

            {{!-- Activation Cost --}}
            <div class="form-group input-select">
                <label>Activation Cost</label>
                <input type="text" name="data.activation.cost" value="{{data.activation.cost}}" data-dtype="Number" placeholder="-"/>
                <select name="data.activation.type">
                    {{#select data.activation.type}}
                    <option value=""></option>
                    {{#each activationTypes as |name key|}}
                    <option value="{{key}}">{{name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>

            {{!-- Activation Condition --}}
            <div class="form-group">
                <label>Activation Condition</label>
                <input type="text" name="data.activation.condition" value="{{data.activation.condition}}"/>
            </div>

            {{!-- Ability Target --}}
            <div class="form-group input-select-select">
                <label>Spell Target</label>
                <input type="text" name="data.target.value" value="{{data.target.value}}" data-dtype="Number" placeholder="-"/>
                <select name="data.target.units">
                    {{#select data.target.units}}
                    <option value=""></option>
                    {{#each distanceUnits as |name key|}}
                    <option value="{{key}}">{{name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
                <select name="data.target.type">
                    {{#select data.target.type}}
                    <option value=""></option>
                    {{#each targetTypes as |name key|}}
                    <option value="{{key}}">{{name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>

            {{!-- Ability Range --}}
            <div class="form-group input-select">
                <label>Spell Range</label>
                <input type="text" name="data.range.value" value="{{data.range.value}}" data-dtype="Number" placeholder="-"/>
                <select name="data.range.units">
                    {{#select data.range.units}}
                    <option value=""></option>
                    {{#each distanceUnits as |name key|}}
                    <option value="{{key}}">{{name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>

            {{!-- Effect Duration --}}
            <div class="form-group input-select">
                <label>Spell Duration</label>
                <input type="text" name="data.duration.value" value="{{data.duration.value}}" data-dtype="Number" placeholder="-"/>
                <select name="data.duration.units">
                    {{#select data.duration.units}}
                    <option value=""></option>
                    {{#each timePeriods as |name key|}}
                    <option value="{{key}}">{{name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>

            {{!-- Spell Components --}}
            <div class="spell-components form-group-stacked">
                <label>Spell Components</label>
                <label class="checkbox"><input type="checkbox" name="data.components.vocal" {{checked data.components.vocal}}/> Vocal</label>
                <label class="checkbox"><input type="checkbox" name="data.components.somatic" {{checked data.components.somatic}}/> Somatic</label>
                <label class="checkbox"><input type="checkbox" name="data.components.material" {{checked data.components.material}}/> Material</label>
                <label class="checkbox"><input type="checkbox" name="data.concentration.value" {{checked data.concentration.value}}/> Concentration</label>
                <label class="checkbox"><input type="checkbox" name="data.ritual.value" {{checked data.ritual.value}}/> Ritual</label>
            </div>

            {{!-- Material Components --}}
            <div class="form-group-stacked">
                <label>Spellcasting Materials</label>
                <input type="text" name="data.materials.value" value="{{data.materials.value}}"/>
            </div>
        </div>

        {{!-- Actions Tab --}}
        <div class="tab details" data-group="primary" data-tab="actions">

            {{!-- Preparation Mode --}}
            <div class="form-group input-select">
                <label>Spell Preparation Mode</label>
                <label class="checkbox prepared">
                    Prepared <input type="checkbox" name="data.preparation.prepared" {{checked data.preparation.prepared}}/>
                </label>
                <select name="data.preparation.mode">
                    {{#select data.preparation.mode}}
                    <option value=""></option>
                    {{#each preparationModes as |name key|}}
                    <option value="{{key}}">{{name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>

            {{!-- Limited Spell Uses --}}
            <div class="form-group uses-per">
                <label>Limited Spell Uses</label>
                <input type="text" name="data.preparation.uses" value="{{data.preparation.uses}}" data-dtype="Number"/>
                <span class="sep"> of </span>
                <input type="text" name="data.preparation.max" value="{{data.preparation.max}}" data-dtype="Number"/>
                <span class="sep"> per </span>
                <select name="data.preparation.per">
                    {{#select data.preparation.per}}
                    <option value=""></option>
                    <option value="sr">Short Rest</option>
                    <option value="lr">Long Rest</option>
                    <option value="day">Day</option>
                    {{/select}}
                </select>
            </div>

            {{!-- Spellcasting Ability --}}
            <div class="form-group">
                <label>{{data.ability.label}}</label>
                <select name="data.ability.value" data-dtype="{{data.ability.type}}">
                    {{#select data.ability.value}}
                    <option value=""></option>
                    {{#each abilities as |ability a|}}
                    <option value="{{a}}">{{ability.label}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>

            {{!-- Spell Action Type --}}
            <div class="form-group">
                <label>Spell Action Type</label>
                <select name="data.spellType.value" data-dtype="{{data.spellType.type}}">
                    {{#select data.spellType.value}}
                    {{#each spellTypes as |name type|}}
                    <option value="{{type}}">{{name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>

            <div class="form-group">
                <label>{{data.damage.label}}</label>
                <input type="text" name="data.damage.value" value="{{data.damage.value}}" data-dtype="{{data.damage.type}}"/>
            </div>

            <div class="form-group">
                <label>{{data.damageType.label}}</label>
                <select name="data.damageType.value" data-dtype="{{data.damageType.type}}">
                    {{#select data.damageType.value}}
                    <option value=""></option>
                    {{#each damageTypes as |name type|}}
                    <option value="{{type}}">{{name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>

            <div class="form-group input-select">
                <label>Saving Throw</label>
                <input type="text" name="data.save.dc" value="{{data.save.dc}}" data-dtype="Number" placeholder="DC"/>
                <select name="data.save.value" data-dtype="{{data.save.type}}">
                    {{#select data.save.ability}}
                    <option value=""></option>
                    {{#each abilities as |ability a|}}
                    <option value="{{a}}">{{ability.label}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>
        </div>
    </section>
</form>
