<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Item Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img"/>

        <div class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="Item Name"/>
            </h1>

            <div class="item-subtitle">
                <h4 class="item-type">{{itemType}}</h4>
                <span class="item-status">{{itemStatus}}</span>
            </div>

            <ul class="summary">
                <li>
                    {{lookup config.weaponTypes data.weaponType.value }}
                </li>
                <li>
                    <input type="text" name="data.rarity.value" value="{{data.rarity.value}}" placeholder="Rarity"/>
                </li>
                <li>
                    <input type="text" name="data.source.value" value="{{data.source.value}}" placeholder="Source"/>
                </li>
            </ul>
        </div>
    </header>

    {{!-- Item Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="description">{{ localize "DND5E.Description" }}</a>
        <a class="item" data-tab="details">{{ localize "DND5E.Details" }}</a>
    </nav>

    {{!-- Item Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        {{> "public/systems/dnd5e/templates/items-v2/parts/item-description.html"}}

        {{!-- Details Tab --}}
        <div class="tab details" data-group="primary" data-tab="details">
            <h3 class="item-details-header">Weapon Details</h3>

            {{!-- Weapon Type --}}
            <div class="form-group">
                <label>Weapon Type</label>
                <select name="data.weaponType.value" data-dtype="{{data.weaponType.type}}">
                    {{#select data.weaponType.value}}
                    {{#each config.weaponTypes as |name type|}}
                    <option value="{{type}}">{{name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>

            {{!-- Equipment Status --}}
            <div class="form-group stacked">
                <label>Equipment Status</label>
                <label class="checkbox">
                    <input type="checkbox" name="data.proficient.value" {{checked data.proficient.value}}/> Proficient
                </label>
                <label class="checkbox">
                    <input type="checkbox" name="data.equipped.value" {{checked data.equipped.value}}/> Equipped
                </label>
                <label class="checkbox">
                    <input type="checkbox" name="data.identified.value" {{checked data.identified.value}}/> Identified
                </label>
                <label class="checkbox">
                    <input type="checkbox" name="data.attuned.value" {{checked data.attuned.value}}/> Attuned
                </label>
            </div>

            {{!-- Weapon Properties --}}
            <div class="form-group stacked weapon-properties">
                <label>Weapon Properties</label>
                {{#each config.weaponProperties as |name prop|}}
                <label class="checkbox">
                    <input type="checkbox" name="data.properties.{{prop}}" {{checked (lookup ../data.properties prop)}}/> {{ name }}
                </label>
                {{/each}}
            </div>

            <h3 class="item-details-header">Weapon Usage</h3>

            {{!-- Item Activation Template --}}
            {{> "public/systems/dnd5e/templates/items-v2/parts/item-activation.html"}}

            <h3 class="item-details-header">Weapon Attack</h3>

            {{!-- Item Action Template --}}
            {{> "public/systems/dnd5e/templates/items-v2/parts/item-action.html"}}
        </div>
    </section>
</form>
