<div class="item-detail item-recovery {{#unless (and item.system.hasLimitedUses item.system.uses.recovery.length)}}empty{{/unless}}">
    {{#if (and item.system.hasLimitedUses item.system.uses.recovery.length)}}
    <span class="condensed">{{ item.labels.recovery }}</span>
    {{/if}}
</div>
