<div class="item-detail item-recovery {{#unless entry.labels.recovery}}empty{{/unless}}" data-column-id="recovery">
    {{#if entry.labels.recovery}}
    <span class="condensed">{{ entry.labels.recovery }}</span>
    {{/if}}
</div>
