<div class="item-detail item-target {{#unless entry.labels.target}}empty{{/unless}}" data-column-id="target">
    {{#if entry.labels.target}}
    <span class="condensed">{{ entry.labels.target }}</span>
    {{/if}}
</div>
