<ul class="separated-list damage-list">
    {{#each damageParts}}
    <li {{~#if data.base}} class="base-part"{{/if}} data-index="{{ index }}">
        <fieldset class="unfieldset" {{~#if data.base}} disabled{{/if}}>
            {{> "systems/dnd5e/templates/activity/parts/damage-part.hbs" }}
        </fieldset>
    </li>
    {{/each}}
</ul>

<button type="button" class="unbutton" data-action="addDamagePart">
    {{ localize "DND5E.DAMAGE.Part.Action.Create" }}
</button>
