<ul class="separated-list damage-list">
    {{#each damageParts}}
    <li data-index="{{ @index }}">
        {{> "systems/dnd5e/templates/activity/parts/damage-part.hbs" }}
    </li>
    {{/each}}
</ul>

<button type="button" class="unbutton" data-action="addDamagePart">
    {{ localize "DND5E.DAMAGE.Part.Action.Create" }}
</button>
