<div class="item-detail item-range">
    {{#if range.scalar}}
    <span class="value">{{ range.value }}</span>
    <span class="unit">{{ range.units }}</span>
    {{else}}
    <span class="condensed">{{ labels.range }}</span>
    {{/if}}
</div>
