<section class="dnd5e2 reference-tooltip content">
    <hgroup class="header">
        <h1>{{ page.name }}</h1>
        <p class="pills">
            <span class="pill {{ page.system.type }}">{{ type }}</span>
        </p>
    </hgroup>
    <section class="description">{{{ content }}}</section>
</section>
