<form class="{{cssClass}} flexcol" autocomplete="off">
  {{> journalEntryPageHeader}}

  <div class="form-group">
    <label>{{localize "DND5E.JournalClassSummaryItem"}}</label>
    <div class="form-fields drop-area">
      Drop Here
    </div>
  </div>

  <h3>Primary Description</h3>
  
  <h3>Creating Your Class</h3>

  <h3>Quick Build</h3>

  <h3>Subclass</h3>
  

  <footer class="sheet-footer flexrow">
    <button type="submit" name="submit"><i class="fas fa-feather-alt"></i> {{localize "JOURNAL.Submit"}}</button>
  </footer>
</form>
