<section class="separator">
    <div>
        <h3>{{localize "DND5E.Rule.Tooltip"}}</h3>
        <label>
            {{localize "DND5E.Rule.Type.Label"}}
            <select name="system.type">
                {{selectOptions CONFIG.ruleTypes selected=document.system.type labelAttr="label"}}
            </select>
        </label>
    </div>
    <prose-mirror name="system.tooltip" value="{{ source.system.tooltip }}" class="journal-page-content"></prose-mirror>
</section>
