<section class="dnd5e2 content">
    <section class="header">
        <h2>{{ page.name }}</h2>
        <ul class="pills">
            <li class="pill {{ page.system.type }}">{{ type }}</li>
        </ul>
    </section>
    <section class="description">{{{ content }}}</section>
</section>
