<section>
    {{~#if hasConsumption}}
    <fieldset>
        <legend>{{ localize "DND5E.USAGE.SECTION.Consumption" }}</legend>
        {{#each fields}}
        <div class="form-group">
            <label>
                {{ field.label }}
                {{#if warn}}<i class="fa-solid fa-triangle-exclamation warning"></i>{{/if}}
            </label>
            <div class="form-fields">
                {{ formInput field name=name value=value input=input }}
            </div>
            {{#if field.hint}}<p class="hint">{{{ field.hint }}}{{/if}}
        </div>
        {{/each}}
    </fieldset>
    {{> "dnd5e.activity-usage-notes" }}
    {{/if~}}
</section>
