<section class="tab activity-{{ tab.id }} {{ tab.cssClass }}" data-tab="{{ tab.id }}" data-group="{{ tab.group }}">
    {{> "systems/dnd5e/templates/activity/parts/cast-spell.hbs" }}
    {{> "systems/dnd5e/templates/activity/parts/cast-details.hbs" }}
</section>
