<section class="tab activity-{{ tab.id }} {{ tab.cssClass }}" data-tab="{{ tab.id }}" data-group="{{ tab.group }}">
    {{> "systems/dnd5e/templates/activity/parts/save-details.hbs" }}
    {{> "systems/dnd5e/templates/activity/parts/save-damage.hbs" }}
    {{> "systems/dnd5e/templates/activity/parts/activity-effects.hbs" }}
</section>
