<section class="tab activity-{{ tab.id }} {{ tab.cssClass }}" data-tab="{{ tab.id }}" data-group="{{ tab.group }}">
    {{> "templates/generic/tab-navigation.hbs" tabs=tabs.effect.tabs }}
    {{> "systems/dnd5e/templates/activity/parts/transform-profiles.hbs" tab=tabs.effect.tabs.profiles }}
    {{> "systems/dnd5e/templates/activity/parts/transform-settings.hbs" tab=tabs.effect.tabs.settings }}
</section>
