<div class="item-summary">
    {{{description.value}}}

    <div class="item-properties pills">
        {{#each properties}}<span class="tag pill transparent pill-xs">{{this}}</span>{{/each}}
    </div>
</div>
