<div class="form-group">
    <label>{{localize 'DND5E.HitPoints'}}</label>
    <div class="form-fields">
        <input type="number" name="data.hp.value" value="{{data.hp.value}}" placeholder="0">
        <span class="sep">&sol;</span>
        <input type="number" name="data.hp.max" value="{{data.hp.max}}" placeholder="0">
        <input type="number" name="data.hp.dt" value="{{data.hp.dt}}" placeholder="{{localize 'DND5E.Threshold'}}">
    </div>
</div>

<div class="form-group">
    <label>{{localize 'DND5E.HealthConditions'}}</label>
    <div class="form-fields">
        <input type="text" name="data.hp.conditions" value="{{data.hp.conditions}}">
    </div>
</div>
