<div class="tab details advancement" data-group="primary" data-tab="advancement">
  <ol class="items-list">
    {{#if editablePrototype}}
      <li class="items-header flexrow">
        <div class="item-controls flexrow">
          <a class="item-control item-add" title="{{localize "DND5E.ItemCreate"}}"><i class="fas fa-plus"></i></a>
        </div>
      </li>
    {{/if}}

    {{#each advancement as |data level|}}
      <li class="items-header flexrow">
        <h3 class="item-name flexrow">Level {{level}}</h3>
      
        {{#if (eq data.configured "full")}}
          <div class="item-checkmark"><i class="fas fa-check-circle"></i></div>
        {{else if (eq data.configured "partial")}}
          <div class="item-warning"><i class="fas fa-exclamation-triangle"></i></div>
        {{/if}}
      </li>
      <ol class="item-list">
        {{#each data.items}}
          <li class="item flexrow" data-index="{{this.index}}">
            <div class="item-name flexrow">
              <div class="item-image{{#if this.invertIcon}} inverted{{/if}}" style="background-image: url('{{this.icon}}')"></div>
              <h4>{{{this.title}}}</h4>
            </div>
            {{#if ../../editablePrototype}}
              <div class="item-controls flexrow">
                  <a class="item-control item-edit" title="{{localize "DND5E.ItemEdit"}}"><i class="fas fa-edit"></i></a>
                  <a class="item-control item-delete" title="{{localize "DND5E.ItemDelete"}}"><i class="fas fa-trash"></i></a>
              </div>
            {{/if}}
            {{#if this.summary}}
              <div class="item-summary">
                {{{this.summary}}}
              </div>
            {{/if}}
          </li>
        {{/each}}
      </ol>
    {{/each}}

  </ol>
</div>
