{{#if system.source.directlyEditable}}
<input type="text" name="system.source.custom" value="{{ system.source.custom }}"
       placeholder="{{ localize 'DND5E.Source' }}">
{{else}}
<span>{{ system.source.label }}</span>
{{/if}}
{{#if (and editable (not concealDetails))}}
<a class="config-button" data-action="source" data-tooltip="DND5E.SourceConfig">
    <i class="fas fa-cog"></i>
</a>
{{/if}}
