<div class="form-group">
    <label>{{localize 'DND5E.HitPoints'}}</label>
    <div class="form-fields">
        {{numberInput data.hp.value name="data.hp.value" placeholder="0"}}
        <span class="sep">&sol;</span>
        {{numberInput data.hp.max name="data.hp.max" placeholder="0"}}
        {{numberInput data.hp.dt name="data.hp.dt" placeholder=(localize "DND5E.Threshold")}}
    </div>
</div>

<div class="form-group">
    <label>{{localize 'DND5E.HealthConditions'}}</label>
    <div class="form-fields">
        <input type="text" name="data.hp.conditions" value="{{data.hp.conditions}}">
    </div>
</div>
