{{!-- Activation Cost --}}
<div class="form-group input-select">
    <label>{{ localize "DND5E.ItemActivationCost" }}</label>
    <div class="form-fields">
        <input type="text" name="data.activation.cost" value="{{data.activation.cost}}" data-dtype="Number" placeholder="—">
        <select name="data.activation.type" title="{{ localize "DND5E.ItemActivationType" }}">
            {{selectOptions config.abilityActivationTypes selected=data.activation.type blank=""}}
        </select>
    </div>
</div>
{{#if data.activation.type}}

{{!-- Activation Condition --}}
<div class="form-group">
    <label>{{ localize "DND5E.ItemActivationCondition" }}</label>
    <div class="form-fields">
        <input type="text" name="data.activation.condition" value="{{data.activation.condition}}">
    </div>
</div>

{{#if isCrewed}}
<div class="form-group">
    <label>{{ localize "DND5E.Cover" }}</label>
    <div class="form-fields">
        <select name="data.cover" data-dtype="Number">
            {{selectOptions config.cover selected=data.cover blank=""}}
        </select>
    </div>
</div>
{{/if}}

{{!-- Ability Target --}}
<div class="form-group input-select-select">
    <label>{{ localize "DND5E.Target" }}</label>
    <div class="form-fields">
        <input type="text" name="data.target.value" value="{{data.target.value}}" data-dtype="Number" placeholder="—">
        <select name="data.target.units" title="{{localize "DND5E.TargetUnits" }}">
            {{selectOptions config.movementUnits selected=data.target.units blank=""}}
        </select>
        <select name="data.target.type" title="{{localize "DND5E.TargetType" }}">
            {{#select data.target.type}}
                <option value=""></option>
                <option value="none">{{ localize "DND5E.None" }}</option>
                <optgroup label="{{ localize "DND5E.TargetTypeIndividual" }}">
                    {{selectOptions config.individualTargetTypes}}
                </optgroup>
                <optgroup label="{{ localize "DND5E.TargetTypeArea" }}">
                    {{selectOptions config.areaTargetTypes labelAttr="label"}}
                </optgroup>
            {{/select}}
        </select>
    </div>
</div>

{{!-- Ability Target Width --}}
{{#if isLine}}
<div class="form-group input-select-select">
    <label>{{ localize "DND5E.TargetWidth" }}</label>
    <div class="form-fields">
        <input type="text" name="data.target.width" value="{{data.target.width}}" data-dtype="Number" placeholder="—">
    </div>
</div>
{{/if}}

{{!-- Ability Range --}}
<div class="form-group input-select">
    <label>{{ localize "DND5E.Range" }}</label>
    <div class="form-fields">
        <input type="text" name="data.range.value" value="{{data.range.value}}" data-dtype="Number" placeholder="{{ localize 'DND5E.Normal' }}" title="{{ localize "DND5E.RangeNormal" }}">
        <span class="sep">/</span>
        <input type="text" name="data.range.long" value="{{data.range.long}}" data-dtype="Number" placeholder="{{ localize 'DND5E.Max' }}" title="{{ localize "DND5E.RangeMax" }}">
        <select name="data.range.units" title="{{ localize "DND5E.RangeUnits" }}">
            {{selectOptions config.distanceUnits selected=data.range.units blank=""}}
        </select>
    </div>
</div>

{{!-- Effect Duration --}}
<div class="form-group input-select">
    <label>{{ localize "DND5E.Duration" }}</label>
    <div class="form-fields">
        <input type="text" name="data.duration.value" value="{{data.duration.value}}" data-dtype="Number" placeholder="—" title="{{ localize "DND5E.DurationValue" }}">
        <select name="data.duration.units" title="{{ localize "DND5E.DurationType" }}">
            {{selectOptions config.timePeriods selected=data.duration.units blank=""}}
        </select>
    </div>
</div>

{{!-- Limited Uses --}}
<div class="form-group uses-per">
    <label>{{ localize "DND5E.LimitedUses" }}</label>
    <div class="form-fields">
        <input type="text" name="data.uses.value" value="{{data.uses.value}}" data-dtype="Number" title="{{ localize "DND5E.UsesAvailable" }}">
        <span class="sep">{{ localize "DND5E.of" }}</span>
        <input type="text" name="data.uses.max" value="{{data.uses.max}}" title="{{ localize "DND5E.UsesMax" }}">
        <span class="sep">{{ localize "DND5E.per" }}</span>
        <select name="data.uses.per" title="{{ localize "DND5E.UsesPeriod" }}">
            {{selectOptions config.limitedUsePeriods selected=data.uses.per blank=""}}
        </select>
    </div>
</div>

{{!-- Consumption --}}
<div class="form-group uses-per">
    <label>{{ localize "DND5E.ConsumeTitle" }}</label>
    <div class="form-fields">
        <select name="data.consume.type" title="{{ localize "DND5E.ConsumeType" }}">
            {{selectOptions config.abilityConsumptionTypes selected=data.consume.type blank=""}}
        </select>
        <select name="data.consume.target" title="{{ localize "DND5E.ConsumeTarget" }}">
            {{selectOptions abilityConsumptionTargets selected=data.consume.target blank=""}}
        </select>
        <input type="text" name="data.consume.amount" value="{{data.consume.amount}}" data-dtype="Number" title="{{ localize "DND5E.ConsumeQuanity" }}">
    </div>
</div>
{{/if}}
