<div class="tab details advancement" data-group="primary" data-tab="advancement">
  <ol class="items-list">

    {{#each advancement as |data level|}}
      <li class="items-header flexrow">
        <h3 class="item-name flexrow">Level {{level}}</h3>
      
        {{#if (eq data.configured "full")}}
          <div class="item-checkmark"><i class="fas fa-check-circle"></i></div>
        {{else if (eq data.configured "partial")}}
          <div class="item-warning"><i class="fas fa-exclamation-triangle"></i></div>
        {{/if}}
      </li>
      <ol class="item-list">
        {{#each data.items}}
          <li class="item flexrow">
            <div class="item-name flexrow">
              <div class="item-image{{#if this.invertIcon}} inverted{{/if}}" style="background-image: url('{{this.icon}}')"></div>
              <h4>{{{this.title}}}</h4>
            </div>
            {{#if this.summary}}
              <div class="item-summary">
                {{{this.summary}}}
              </div>
            {{/if}}
          </li>
        {{/each}}
      </ol>
    {{/each}}

  </ol>
</div>
