<div class="item-summary">
    {{{description.value}}}

    <ul class="item-properties pills unlist">
        {{#each properties}}<li class="tag pill transparent pill-xs">{{this}}</li>{{/each}}
    </ul>
</div>
