<fieldset {{ disabled disabled }}>
    <legend>{{ localize "DND5E.CALENDAR.Configuration.Preferences" }}</legend>
    {{#if showMessage}}<p class="note warn">{{ localize "DND5E.CALENDAR.Configuration.DisabledMessage" }}</p>{{/if}}
    {{> "dnd5e.fieldlist" fields}}
</fieldset>
