<div>
    <table>
        <thead>
            <tr>
                <!-- TODO: Selection header here if set -->
                <th scope="col" class="icon"></th>
                <th scope="col" class="name">{{ localize "DND5E.CompendiumBrowser.Column.Name" }}</th>
            </tr>
        </thead>
        <tbody>
            <tr class="results-loading">
                <td colspan="2"><!-- TODO: Update colspan to ensure spans full width -->
                    <i class="fa-solid fa-spinner fa-spin-pulse" inert></i>
                    {{ localize "Loading…" }}
                </td>
            </tr>
        </tbody>
    </table>
</div>
