<div>
    <search aria-label="{{ localize 'DND5E.CompendiumBrowser.Filters.SearchResults' }}">
        <input type="text" name="name" placeholder="{{ localize 'DND5E.CompendiumBrowser.Filters.SearchResults' }}"
               value="{{ name }}">
        <ul class="unlist controls">
            <li>
                <button type="button" class="unbutton filter-control" data-action="clearName"
                        data-tooltip aria-label="{{ localize 'DND5E.FilterClear' }}">
                    <i class="fa-solid fa-xmark" inert></i>
                </button>
            </li>
        </ul>
    </search>
</div>
