<div class="inventory-element">

    <section class="items-list browser-results">

        <div class="items-section card">

            <div class="items-header header">

                <h3 class="item-name">{{ localize "DND5E.CompendiumBrowser.Column.Results" }}</h3>
                <div class="item-header item-source">{{ localize "DND5E.CompendiumBrowser.Column.Source" }}</div>
                <div class="item-header item-controls"></div>

            </div>

            <div class="results-loading"><i class="fas fa-spinner fa-spin-pulse" inert></i></div>

            <ol class="item-list unlist"></ol>

        </div>

    </section>

</div>
