.dnd5e.advancement {
  input[type="text"], input[type="number"], select {
    height: var(--form-field-height);
    color: var(--color-text-dark-primary);
    &[readonly] {
      color: var(--color-text-dark-6);
      box-shadow: none;
    }
  }
  .form-group .form-fields {
    :not(file-picker) > button { flex: 0; }
  }
  .form-group .form-field-readonly {
    color: #999;
  }

  /* ----------------------------------------- */
  /*  Advancement Selection                    */
  /* ----------------------------------------- */
  .items-list {
    margin-bottom: 1em;

    li.item {
      padding-top: 0.25em;
    }
    .item-hint {
      flex: 0 1 100%;
      margin-left: 35px;
      margin-bottom: 0.5em;
    }

    /* Solves the borders being cut off */
    .content-link {
      display: inline-block;
    }
  }

  .centered {
    text-align: center;
  }
  .hint.warning {
    color: var(--dnd5e-color-maroon);
    font-weight: bold;
  }

  /* ----------------------------------------- */
  /*  Column Configurations                    */
  /* ----------------------------------------- */
  &.two-column, &.three-column {
    form {
      display: grid;
      gap: 0.4em;

      > .left-column {
        grid-area: left;
        display: flex;
        flex-direction: column;

        > .form-group { flex: none; }
        > .drop-target { flex: 1; }
      }
      > .right-column {
        grid-area: right;
      }
      > .level-list {
        label {
          flex: 0.5;
          padding-right: 0.5rem;
          text-align: end;
        }
        :is(input[type="text"], input[type="number"])::placeholder {
          opacity: 0.5;
        }
      }
    }
  }

  &.two-column {
    --grid-two-column-left-size: 1fr;
    --grid-two-column-right-size: 1fr;

    form {
      grid-template-columns: var(--grid-two-column-left-size) var(--grid-two-column-right-size);
      grid-template-areas: "left right";

      button[type="submit"] {
        grid-column-end: span 2;
      }
    }
  }

  &.three-column {
    --grid-three-column-left-size: 1fr;
    --grid-three-column-center-size: 1fr;
    --grid-three-column-right-size: 1fr;

    form {
      grid-template-columns:
        var(--grid-two-column-left-size) var(--grid-two-column-center-size) var(--grid-two-column-right-size);
      grid-template-areas: "left center right";

      > .center-column {
        grid-area: center;
      }
      button[type="submit"] {
        grid-column-end: span 3;
      }
    }
  }

  /* ----------------------------------------- */
  /*  Ability Score Improvement                */
  /* ----------------------------------------- */

  form[data-type="AbilityScoreImprovement"] {
    .ability-scores {
      contain: layout;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;

      margin-block-end: 0;
      padding: 0;
      list-style: none;
      text-align: center;

      & > label {
        grid-area: auto / span 3;
        margin-block: 0.5em 0;
        padding: 0;
        font-size: var(--font-size-18);

        > .cap {
          margin-block: 0;
          font-size: var(--font-size-13);
        }
      }

      li {
        display: grid;
        grid-template:
          "label label label label"
          "minus value value plus"
          "minus delta delta plus";
        align-items: center;
        &.hint {
          display: block;
          grid-column: 2 / 4;
          text-align: start;
          align-self: end;
        }
        label:first-child {
          grid-area: label;
          font-size: var(--font-size-18);
        }
        a {
          font-size: var(--font-size-16);
          padding: 0.5em;
          &:not([data-action]) {
            opacity: 33%;
            cursor: var(--cursor-default);
            &:hover {
              text-shadow: none;
            }
          }
        }
        .minus { grid-area: minus; }
        .plus { grid-area: plus; }
        > input {
          grid-area: value;
          height: 1.5em;
          border: none;
          background: none;
          font-size: var(--font-size-28);
        }
        .delta {
          grid-area: delta;
          font-size: var(--font-size-16);
          font-weight: bold;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 4px;
          i { font-size: var(--font-size-12); }
        }
        .locked {
          grid-column: 1 / -1;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0;
          font-size: var(--font-size-12);
          > input {
            width: 14px;
            height: 14px;
          }
        }
      }
      &.disabled li {
        opacity: 60%;
      }
    }
    .feat-section { gap: 8px; }
  }

  /* ----------------------------------------- */
  /*  Item Grant                               */
  /* ----------------------------------------- */
  &.item-grant {
    .items-list {
      h3 {
        margin: 0;
      }
      .item-optional {
        flex: 0 0 65px;
      }
    }
  }

  /* ----------------------------------------- */
  /*  Item Choice                              */
  /* ----------------------------------------- */
  &.item-choice {
    --grid-two-column-left-size: 1fr;
    --grid-two-column-center-size: 0.7fr;
    --grid-two-column-right-size: 0.5fr;

    .level-list {
      .items-header { padding-inline: 2px; }
      .level-header { flex: 0.5; }
      .choices-header { flex: 3; }
      .replacement-header { flex: 0 0 20px; }
    }

    .form-group:has(textarea) {
      align-items: flex-start;
    }

    textarea {
      margin-inline-start: 8px;
      border: 1px solid var(--color-border-light-tertiary);
      font-family: var(--font-primary);
      font-size: var(--font-size-12);
      height: 140px;
    }
  }
}

/* ----------------------------------------- */
/*  Advancement Flow                         */
/* ----------------------------------------- */
.dnd5e.advancement.flow {
  .step {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    h1 { flex-grow: 1; }
    h2 {
      text-align: right;
      line-height: 1.8em;
      border-bottom: 2px solid var(--color-underline-header);
    }
    form { flex-basis: 100%; }
  }

  h3 {
    font-size: var(--font-size-20);
  }

  .item-name {
    .item-image {
      flex: 0 0 30px;
      height: 30px;
      background-size: cover;
      background-position: 50% 0;
      margin-inline-end: 5px;
      border-radius: 4px;
      border: var(--dnd5e-border-gold);
      box-shadow: 0 0 4px var(--dnd5e-shadow-45);
    }
    label {
      align-items: center;
      h4 {
        margin: 0;
        font-size: var(--font-size-14);
      }
    }

    + .item-name { margin-top: 6px; }
  }

  form:not(:last-of-type) {
    margin-block-end: 0.5em;
    border-block-end: 2px groove var(--color-border-light-1);
    padding-block-end: 1em;
  }

  input.error {
    outline: 2px solid red;
  }

  form[data-type="HitPoints"] {
    div {
      font-size: var(--font-size-14);
    }
    .rolls {
      display: grid;
      grid-template-columns: 50% 1fr 0fr;
      align-items: center;
      gap: 8px;

      .average-label {
        gap: 8px;

        .average-checkbox {
          flex: 0;
          order: 1;
        }
        span { order: 2; }
      }
      .roll-result {
        text-align: center;
      }
      .roll-button {
        height: unset;
        width: 31px;
      }
    }
  }

  form[data-type="ItemChoice"] {
    .item-name .item-delete {
      flex: 0 0 20px;
      margin-inline-end: 1px;
    }
    input[type="radio"] {
      flex: 0 0 20px;
      width: 20px;
      height: 20px;
      margin: 3px 5px;
    }
    h4.form-header {
      margin-block-start: 0.25em;
    }
    .replaced h4 {
      text-decoration: rgb(200 0 0) line-through 2px;
    }
    label.flexrow {
      justify-content: space-between;
      dnd5e-checkbox { margin-inline: 6px; }
    }
    .item-name + .item-name { margin-block-start: 4px; }
    .pill-lg { margin-block-start: 12px; }
  }

  form[data-type="ScaleValue"] {
    p {
      margin-block-end: 0;
      font-size: var(--font-size-18);
    }
    span.none { font-style: italic; }
  }

  form[data-type="Trait"] {
    select {
      min-width: min(20em, 100%);
      margin-block-end: 0.25em;
    }
    .trait-slots {
      counter-reset: trait-list;
      list-style: none;
      padding: 0;
    }
    .trait-slot {
      min-height: 30px;
      align-items: center;
      font-size: var(--font-size-14);

      &::before {
        counter-increment: trait-list;
        content: counter(trait-list);
        width: 2em;
        text-align: center;
        font-size: var(--font-size-16);
      }

      a {
        flex: 0;
        padding-inline-end: 0.5em;
      }
    }
  }

  form[data-type="Size"] {
    select {
      width: 100%;
      font-size: var(--font-size-16);
      height: 2em;
    }
  }

  form[data-type="Subclass"] .drop-target > button { width: 100%; }

  nav {
    display: flex;
    justify-content: flex-end;
    margin-block-start: 1em;
    button {
      max-width: 50%;
    }
  }
}
