/* ----------------------------------------- */
/*  All DnD5e Apps                           */
/* ----------------------------------------- */

.dialog {
  label:has(input[type="checkbox"]) {
    display: flex;
    margin-block-end: 0.5em;

    > input[type="checkbox"] {
      flex-basis: auto;
    }
  }
}

.dnd5e {
  .window-content {
    font-size: var(--font-size-13);
  }

  /* ----------------------------------------- */
  /*  Element Styles                           */
  /* ----------------------------------------- */

  h3 {
    border-bottom: none;
  }

  // Item Sheet form fields
  input[type="text"],
  input[type="number"],
  select {
    height: calc(100% - 2px);
    border: 1px solid var(--dnd5e-color-tan);
    background: rgba(0, 0, 0, 0.05);
    color: var(--dnd5e-color-dark);
  }

  input[type="number"].number-lg {
    font-size: 3em;
    text-align: center;
  }

  // Hovered Fields
  input[type="text"],
  input[type="number"],
  input[type="checkbox"] {
    &:hover,
    &:focus {
      border: 1px solid #111;
      box-shadow: 0 0 8px red;
    }
  }

  // Disabled Fields
  input:disabled,
  select:disabled,
  textarea:disabled {
    color: var(--dnd5e-color-olive);
    border: 1px solid transparent !important;
    outline: none !important;
    &:hover,
    &:focus {
      box-shadow: none !important;
      border: 1px solid transparent !important;
      outline: none !important;
    }
  }

  // Buttons
  button {
    background: rgba(0, 0, 0, 0.10);
    border: var(--dnd5e-border-groove);
  }

  // Secrets
  .secret .reveal {
    border: 1px dashed var(--color-border-light-primary);
    background: rgb(255 255 240 / 80%);
  }

  /* Form Groups */
  .form-group {
    label {
      flex: 2;
      color: var(--dnd5e-color-olive);
      font-weight: bold;
    }
    .form-fields {
      > * {
        margin: 0 3px 0 0;
        &:last-child { margin-right: 0; }
      }
    }
  }

  // Stacked Groups
  .form-group.stacked {
    > label {
      flex: 0 0 100%;
      margin: 0;
    }
    label.checkbox,
    label.radio {
      flex: auto;
      text-align: left;
    }
  }

  // Form Headers
  .form-header {
    margin: 0 0 0.25em 0;
    padding: 2px 0;
    border-top: var(--dnd5e-border-groove);
    border-bottom: var(--dnd5e-border-groove);
    font-family: var(--dnd5e-font-modesto);
    font-size: var(--font-size-20);
    font-weight: 700;
  }

  /* Tags */
  .tag {
    display: inline-block;
    margin: 0 2px 0 0;
    padding: 0 3px;
    font-size: var(--font-size-10);
    line-height: 16px;
    border: 1px solid #999;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.05);
  }
}

/* ----------------------------------------- */
/*  Items Lists                              */
/* ----------------------------------------- */

.dnd5e {
  .items-list {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    scrollbar-width: thin;
    color: var(--dnd5e-color-tan);

    // Child lists
    .item-list {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    // Item Name
    .item-name {
      flex: 2;
      margin: 0;
      overflow: hidden;
      font-size: var(--font-size-13);
      text-align: left;
      align-items: center;
      h3, h4 {
        margin: 0;
        white-space: nowrap;
        overflow-x: hidden;
      }
    }

    // Control Buttons
    .item-controls {
      flex: 0 0 60px;
      justify-content: space-between;
      a {
        font-size: var(--font-size-12);
        text-align: center;
      }
    }

    // Individual Item
    .item {
      align-items: center;
      padding: 0 2px; // to align with the header border
      border-bottom: 1px solid var(--dnd5e-color-faint);
      &:last-child { border-bottom: none; }
      .item-name {
        color: var(--dnd5e-color-dark);
        .item-image {
          flex: 0 0 30px;
          height: 30px;
          background-size: cover;
          background-position: 50% 0;
          border: none;
          margin-right: 5px;
        }
      }
    }

    // Section Header
    .items-header {
      height: 28px;
      margin: 2px 0;
      padding: 0;
      align-items: center;
      background: rgba(0, 0, 0, 0.05);
      border: var(--dnd5e-border-groove);
      font-weight: bold;
      > * {
        font-size: var(--font-size-12);
        text-align: center;
      }
      h3 {
        padding-left: 5px;
        font-family: var(--dnd5e-font-modesto);
        font-size: var(--font-size-16);
        font-weight: 700;
        text-align: left;
      }
    }
  }
}
