/* ----------------------------------------- */
/*  Journal Pages                            */
/* ----------------------------------------- */

.journal-entry-page.class {
  h4 {
    border-block-end: 1px solid var(--color-underline-header);
    font-weight: bold;
  }

  .core-traits {
    caption, th { text-align: start; }
    th, td { padding-inline: 8px; }
  }

  .features-table {
    th[scope="col"] {
      padding-inline: 0.25em;
    }

    td:is(.level, .prof, .scale, .spell-slots) {
      text-align: center;
    }
  }
}
