<div class="button-group">
    <button type="button" {{dnd5e-dataset this}}>
        {{> @partial-block}}
    </button>
    <button type="button" class="shrink" {{dnd5e-dataset this}} data-action-fast-forward="fast-forward">
        <i class="fas fa-forward"></i>
    </button>
</div>
