<div class="chat-card turn-card">
    {{#if actor}}

    {{!-- Deltas --}}
    {{#if deltas.length}}{{> "dnd5e.card-deltas" }}{{/if}}

    {{!-- Actions --}}
    {{#if activities.length}}{{> "dnd5e.card-activities" }}{{/if}}

    {{else}}
    <p>{{ localize "DND5E.CHATMESSAGE.TURN.NoCombatant" }}</p>
    {{/if}}
</div>
