<section class="tab active" data-tab="biography" data-group="primary">

    {{!-- Biography --}}
    {{#if enriched.value}}
    <div class="bottom">
        <h3 class="icon">
            <i class="fas fa-feather" inert></i>
            <dnd5e-icon src="systems/dnd5e/icons/svg/ink-pot.svg"></dnd5e-icon>
            <span class="roboto-upper">{{ localize enriched.label }}</span>
        </h3>
        <div class="editor">
            <div class="editor-content">{{{ enriched.value }}}</div>
        </div>
    </div>
    {{/if}}

</section>
