<fieldset>
    <legend>{{ localize "DND5E.RollConfiguration.Configuration" }}</legend>
    <div class="form-group">
        <label>{{ localize "DND5E.RollMode" }}</label>
        <select name="rollMode">
            {{ selectOptions rollModesOptions selected=rollMode localize=true }}
        </select>
    </div>
</fieldset>
