<form class="dnd5e item-sheet" autocomplete="off">
    <header class="sheet-header">
        <img src="{{img}}" title="{{name}}" height="64" width="64"/>
        <h1 class="itemname">
            <input type="text" name="name" placeholder="Name" value="{{name}}" data-dtype="String"/>
        </h1>
    </header>

    <ol class="item-details">
        <li>
            <label>Quantity</label>
            <input type="text" name="data.quantity.value" value="{{data.quantity.value}}" data-dtype="{{data.quantity.type}}"/>
        </li>
        <li>
            <label>Weight</label>
            <input type="text" name="data.weight.value" value="{{data.weight.value}}" data-dtype="{{data.weight.type}}"/>
        </li>
        <li>
            <label>Price</label>
            <input type="text" name="data.price.value" value="{{data.price.value}}" data-dtype="{{data.price.type}}"/>
        </li>
    </ol>

    <div class="editor" data-tab="description">
        <div class="editor-content" data-edit="data.description.value">
           {{{data.description.value}}}
        </div>
        <a class="editor-edit"><i class="fas fa-edit"></i></a>
    </div>

    <button type="submit" name="submit" value="1"><i class="far fa-save"></i> Save Changes</button>
</form>
