<form id="ability-use-form">
    <p>{{ localize "DND5E.AbilityUseHint" }} <strong>{{item.name}}</strong> {{ localize "DND5E.Ability" }}.</p>

    <p class="notes">
    {{#if recharges}}
    {{ localize "DND5E.AbilityUseRechargeHint" }} <strong>{{#if isCharged}}{{ localize "DND5E.AbilityUseCharged" }}{{else}}{{ localize "DND5E.AbilityUseDepleted" }}{{/if}}</strong>.</p>
    {{else}}
    {{ localize "DND5E.AbilityUseWarnStart" }} <strong>{{uses.value}} {{ localize "DND5E.of" }} {{uses.max}}</strong> {{ localize "DND5E.AbilityUseWarnEnd" }} {{perLabel}}.
    {{/if}}
    {{#unless canUse}}
    {{ localize "DND5E.AbilityUseCantUse" }}
    {{/unless}}
    </p>

    <div class="form-group">
        <label class="checkbox">{{ localize "DND5E.AbilityUseConsume" }} <input type="checkbox" name="consume" {{checked consume}}/></label>
        {{#if hasPlaceableTemplate}}
        <label class="checkbox">{{ localize "DND5E.PlaceTemplate" }}
            <input type="checkbox" name="placeTemplate" checked/>
        </label>
        {{/if}}
    </div>
</form>
