<form>
    <div class="attunement-field form-group">
        {{ numberInput max name="system.attributes.attunement.max" class="number-lg" step=1 min=0 placeholder=3 }}
    </div>
    <button type="submit">
        <i class="far fa-save"></i> {{ localize "Save" }}
    </button>
</form>
