<form onsubmit="event.preventDefault();">
    <div class="ac-field form-group">
        <input type="text" name="armor.flat" value="{{armor.flat}}" placeholder="{{preview}}" data-dtype="Number"/>
    </div>

    <p class="notes">{{ localize "DND5E.ArmorConfigHint" }}</p>

    <div class="form-group">
        <label>{{ localize "DND5E.ArmorType" }}</label>
        <select name="armor.type">
            <option value=""{{#if (eq armor.type "")}} selected{{/if}}>{{ localize "DND5E.ArmorConfigNoArmor" }}</option>
            <option value="natural"{{#if (eq armor.type "natural")}} selected{{/if}}>{{ localize "DND5E.EquipmentNatural" }}</option>
        {{#each types as |group|}}
            <optgroup label="{{group.label}}">
                {{#each group.children as |type key|}}
                    <option value="{{key}}"{{#if type.chosen}} selected{{/if}}>{{type.label}}</option>
                {{/each}}
            </optgroup>
        {{/each}}
        </select>
    </div>

    <div class="form-group">
        <label>{{ localize "DND5E.ArmorConfigCustomLabel" }}</label>
        <input type="text" name="armor.customLabel" value="{{armor.customLabel}}" data-dtype="String"/>
    </div>

    <div class="form-group">
        <label>{{ localize "DND5E.ArmorConfigUsesShield" }}</label>
        <input name="armor.shield" type="checkbox" {{checked armor.shield}}/>
    </div>

    <button type="submit" name="submit" value="1">
        <i class="far fa-save"></i> {{ localize "DND5E.TraitSave"}}
    </button>
</form>
