<div>
    <div class="calendar-date"></div>
    <div class="calendar-widget">
        <span class="calendar-sun"></span>
        <span class="calendar-stars"></span>
    </div>
    <div class="calendar-time"></div>
</div>
