<menu>
    {{#each buttons}}
    <li class="calendar-button">
        <button type="button" {{~#if action}} data-action="{{ action }}"{{/if}} data-index="{{ index }}"
                data-tooltip aria-label="{{ label }}">
            {{ dnd5e-icon icon }}
        </button>
    </li>
    {{/each}}
</menu>
