<section class="tab {{ tab.cssClass }}" data-group="primary" data-tab="convert">
    <p>{{ localize "DND5E.CurrencyManager.Convert.Hint" }}</p>
    <button type="submit" name="convert">
        <i class="fa-solid fa-arrow-up-short-wide" inert></i>
        {{ localize "DND5E.CurrencyManager.Convert.Action" }}
    </button>
</section>
