<form id="long-rest" class="dialog-content" onsubmit="event.preventDefault();">
   <p>Take a long rest? On a long rest you will recover hit points, half your maximum hit dice, class resources, limited use item charges, and spell slots.</p>

    {{#if promptNewDay}}
    <div class="form-group">
        <label>Is New Day?</label>
        <input type="checkbox" name="newDay" {{checked newDay}}/>
        <p class="hint">Recover limited use abilities which recharge "per day"?</p>
    </div>
    {{/if}}

    <div class="form-group">
        <label>Roll Item Recharge formulas?</label>
        <input type="checkbox" name="rollDailyRecovery" {{checked rollDailyRecovery}}/>
        <p class="hint">Roll formulas for items that recharge on Long Rest{{#if promptNewDay}}/Per Day (if checked above){{/if}}?</p>
    </div>

    <div class="dialog-buttons">
        {{#each buttons as |button id|}}
        <button class="dialog-button" data-button="{{id}}">
            {{{button.icon}}}
            {{{button.label}}}
        </button>
        {{/each}}
    </div>
</form>
