<form autocomplete="off">
    <header>{{ localize "DND5E.SpellSlotsConfig" }}</header>
    <ol class="unlist form-grid form-grid-20">
        {{#each overrides}}
        <li>
            <label class="input-stack">
                <span class="roboto-upper">{{ label }}</span>
                {{ numberInput value name=name min=0 step=1 placeholder=placeholder }}
            </label>
        </li>
        {{/each}}
    </ol>
</form>
