<form autocomplete="off">

  <div class="form-group">
    <select name="selectedIndex">
      {{#each grants}}
        <option value="{{@index}}"{{#if this.selected}} selected{{/if}}>{{this.label}}</option>
      {{/each}}
    </select>
  </div>

  <div class="form-group">
    <label>Allow choices?</label>
    <input type="checkbox" name="allow-choices" data-dtype="Boolean" {{checked allow-choices}}>
  </div>

  {{#if allowChoices}}
    <div class="form-group">
      <label>Count</label>
      <input name="count" type="number" step="1" value="1"/>
    </div>
  {{/if}}

  <div class="trait-selector">
    {{> "systems/dnd5e/templates/apps/parts/trait-list.html"}}
  </div>

  <button type="submit" name="submit" value="1"><i class="far fa-save"></i> {{ localize "DND5E.TraitSave"}}</button>

</form>
