/* TODO: Add .dnd5e2-journal when dark mode journal sheets are implemented */
.theme-dark .dnd5e2:not(.chat-card):not(.dnd5e-tooltip):not(.content),
.dnd5e2.dnd5e-theme-dark {
  --dnd5e-color-table-row-odd: var(--dnd5e-color-iron-gray);
  --dnd5e-color-table-row-even: color-mix(in oklab, var(--dnd5e-color-table-row-odd), black 10%);
  --dnd5e-block-notable-color: var(--dnd5e-color-blue-gray-4);
  --dnd5e-block-notable-border: #212121;

  table {
    --table-background-color: var(--dnd5e-color-blue-gray-1);
    --dnd5e-color-table-border: color-mix(in oklab, var(--dnd5e-color-table-row-even), black 10%);

    thead {
      --dnd5e-color-hd-1: #491d25;
      --dnd5e-color-hd-2: #311b1f;
    }
  }

  .roll-link > i.fa-dice-d20, a.inline-roll > i.fa-dice-d20 { filter: invert(1); }

  .fvtt:is(.advice, .narrative, .quest) { background: var(--dnd5e-color-blue-gray-4); }

  .notable {
    &::before, &::after { filter: grayscale(1); }
  }

  .statblock.npc {
    --statblock-background: rgb(0 0 0 / .35);
    --statblock-ability-border: black;
    --statblock-ability-header-1st: rgb(83, 73, 50);
    --statblock-ability-header-2nd: rgb(62, 68, 48);
    --statblock-ability-stat-1st: rgb(89, 63, 63);
    --statblock-ability-stat-2nd: rgb(89, 67, 87);
    --statblock-border: var(--dnd5e-color-blue-gray-1);
    --statblock-text-header: var(--color-text-dark-primary);
    --statblock-text-primary: var(--color-text-dark-primary);
    --statblock-text-secondary: color-mix(in oklab, var(--color-text-dark-primary), transparent 25%);

    h4.statblock-title, h5.statblock-actions-title { border-color: var(--dnd5e-color-blue-gray-3); }
  }
}
