.theme-dark .sheet.dnd5e2-journal.application {
  .journal-entry-content,
  &.journal-entry-page .window-content {
    background: unset;
  }

  .journal-header input {
    --input-background-color: var(--dnd5e-highlight-10);
    color: var(--color-text-dark-primary);
  }
}

.theme-dark .dnd5e2.journal-entry-page.application {
  &.rule {
    .separator { border-color: var(--dnd5e-color-blue-white); }
  }
}
