<form class="{{cssClass}}" autocomplete="off">
    {{> public/systems/dnd5e/templates/items/item-header.html}}

    <!-- SPELL SHEET SIDEBAR -->
    <section class="sheet-sidebar">
        TEST
    </section>

    <!-- BODY -->
    <section class="sheet-body">

        <nav class="sheet-tabs tabs" data-tab-container="primary">
            <a class="item active" data-tab="description">Description</a>
            <a class="item" data-tab="details">Details</a>
        </nav>

        {{> public/systems/dnd5e/templates/items/item-description.html}}

        <!-- Spell Details -->
        <div class="tab" data-tab="details">


        </div>
    </section>
</form>
