<ol class="warnings">
{{#each warnings}}
  <li class="notification {{this.type}}">
    {{#if this.link}}<a data-target="{{this.link}}">{{/if}}
    {{this.message}}
    {{#if this.link}}</a>{{/if}}
  </li>
{{/each}}
</ol>
