<dialog class="warnings locked-tooltip dnd5e-tooltip dnd5e2 active themed theme-light">
    <ul class="unlist">
        {{#each warnings}}
        <li class="{{ type }}">
            {{#if link}}<a data-action="inspectWarning" data-target="{{ link }}">{{/if}}
            {{ message }}
            {{#if link}}</a>{{/if}}
        </li>
        {{/each}}
    </ul>
</dialog>
